+b.about-block.section
  +e.wrap
    .container
      .row
        .col-12
          h1.section__title Наши ценности
          .section__introtext
            p Наша миссия – воспитывать будущих лидеров, передавать им знания, навыки и ценности, которые помогут им сделать мир лучше.Для достижения этой миссии требуется доверительная и уважительная среда, в которой люди могут свободно выражать свои мысли и быть уверенными в честности и правильности того, что они делают. Ученики, сотрудники, родители и наши выпускники разделяют эти принципы, когда присоединяются к сообществу Heritage. При этом они соглашаются следовать следующим ценностям сообщества:
