+b.section-menu
  .container
    .row
      .col-12
        +e.UL.list
          +e.LI.item
            +e.A.link(href="#block-01") Уважение
          +e.LI.item
            +e.A.link(href="#block-02") Мышление роста
          +e.LI.item
            +e.A.link(href="#block-03") Ответственность
