+b.SECTION.universal.text-center
  .container
    .row
      .col-12
        +e.text
          p Каждый член школьного сообщества несет личную ответственность за то, чтобы внедрять эти ценности во все аспекты своей школьной жизни. Благодаря нашей личной приверженности этим ценностям мы создаем среду, в которой каждый может полностью реализовать свой потенциал. Наши ценности — это набор руководящих принципов для всего, что мы делаем, где бы мы ни находились и в отношении каждого, кого встречаем.
