+b#block-01.SECTION.universal.text-center
  .container
    .row
      .col-12
        +e.H2.title Уважение
        +e.text
          p Мы действуем не обижая чувства других людей и стараемся общаться друг с другом в соответствии с тем, как того хочет человек. Мы уважаем разнообразие и готовы рассматривать идеи и мнения отличные от наших собственных.

+b#block-02.SECTION.universal.text-center
  .container
    .row
      .col-12
        +e.H2.title Мышление роста
        +e.text
          p Наши способности меняются и развиваются путем упорного труда и благодаря нашей целеустремленности. Мы ставим высокие цели и всегда открыты новому. Мы воспринимаем трудности и неудачи как возможности для роста и ищем вдохновение в успехах других людей.

+b#block-03.SECTION.universal.text-center
  .container
    .row
      .col-12
        +e.H2.title Ответственность
        +e.text
          p Мы готовы к нашим задачам и обязанностям и выполняем их. Мы осознаем действия, которые мы совершаем и уверены в решениях, даже если нам трудно принимать их. Мы готовы нести ответственность за себя, других и окружающую среду.
