+b.about-block.section
  +e.wrap
    .container
      .row
        .col-12
          h2.section__title(data-aos="fade-up" data-aos-duration="1000") Early Years Foundation Stage
          .section__introtext(data-aos="fade-up" data-aos-delay="1000" data-aos-duration="2500")
            p EYFS (Early Years Foundation Stage) — Начальный этап обучения в раннем возрасте — устанавливает стандарты обучения, развития и ухода за детьми от рождения до пяти лет.
            p В школе Heritage мы хотим, чтобы наши дети были самостоятельными, активными учениками, познавали новое через игру, развивали критическое мышление, и имели видение того, к чему нужно стремиться.  Процесс обучения не ограничивается стенами школы, активности на свежем воздухе также способствуют их развитию.  Дети могут участвовать в играх, которые инициируют сами между собой либо под руководством взрослых, а также выполняют задания учителя.  Наблюдая за процессом, педагоги могут выстраивать активности в соответствии с возможностями ребенка, и готовить его к дальнейшему развитию.
