+b.SECTION.campuses.section
  .container
    h2.section__title(data-aos="fade-up" data-aos-duration="1000") Наши кампусы
  +e.wrapper
    +campuses-card({
      image : "campuses/image04.jpg",
      city : "Москва",
      title: "Кампус Сокольники",
      aos: "fade-up",
      duration: "1500",
      delay: "1000"
    })
    +campuses-card({
      image : "campuses/image05.jpg",
      city : "Москва",
      title: "Кампус Ленинский",
      aos: "fade-up",
      duration: "1500",
      delay: "1500"
    })
    +campuses-card({
      image : "campuses/image06.jpg",
      city : "Тюмень",
      title: "Кампус Тюмень",
      aos: "fade-up",
      duration: "1500",
      delay: "2000"
    })
