+b.gallery-block
  .container
    .row
      .col-12
        +e.wrap
          +e.item
            +e.IMG(src="img/gallery-kindergarten/01.jpg" alt="01")
          +e.item
            +e.IMG(src="img/gallery-kindergarten/01.jpg" alt="01")
          +e.item
            +e.IMG(src="img/gallery-kindergarten/02.jpg" alt="01")
          +e.item
            +e.IMG(src="img/gallery-kindergarten/03.jpg" alt="01")
          +e.item
            +e.IMG(src="img/gallery-kindergarten/04.jpg" alt="01")
          +e.item
            +e.IMG(src="img/gallery-kindergarten/05.jpg" alt="01")
