+b.scroll-top
  .container
    +e.wrap
      +e.BUTTON.btn(type="button")

+b.FOOTER.footer.section.slide
  .container
    .row
      .col-12
        +e.top
          +b.footer-menu
            +e.col
              +e.A.title(href="#") Главная
              ul
                li
                  a(href="#") Обучение в Heritage
                li
                  a(href="#") Наши технологии
                li
                  a(href="#") Кампусы
                li
                  a(href="#") Стоимость
                li
                  a(href="#") Поступление
                li
                  a(href="#") Карьера
                li
                  a(href="#") Контакты
            +e.col
              +e.A.title(href="#") Программы
              ul
                li
                  a(href="#") Детский сад
                li
                  a(href="#") Начальная школа
                li
                  a(href="#") Средняя школа
            +e.col
              +e.A.title(href="#") Кампусы
              ul
                li
                  a(href="#") Кампус Ленинский
                li
                  a(href="#") Кампус Сокольники
            +e.col
              +e.A.title(href="#") Родителям
              ul
                li
                  a(href="#") Календарь занятий
                li
                  a(href="#") Стоимость обучения
                li
                  a(href="#") Виртуальный тур
                li
                  a(href="#") Часто задаваемые вопросы
            +e.col
              +e.A.title(href="#") Правила приема
              ul
                li
                  a.uppercase(href="#") Блог
                li
                  a.uppercase(href="#") Контакты

          +e.contacts
            +e.A.contacts-phone(href="tel:88005551979") 8 (800) 555-19-79
            +e.IMG.logo(src="img/footer/footer-logo.svg" alt="Footer logo")
        +e.bottom
          +e.copy ©2021 Heritage International School
          +e.A.policy(href="#") Политика в области защиты
            br
            | персональных данных
