+b.scroll-top
  .container
    +e.wrap
      +e.BUTTON.btn(type="button")

+b.FOOTER.footer
  .container
    +e.top
      +e.info
        +e.info-top
          +e.IMG.info-img(src="../img/footer/01.svg")
          +e.IMG.info-img(src="../img/footer/02.svg")
          +e.IMG.info-img(src="../img/global/logo.svg")
        +e.info-bottom
          p Heritage School offers a supportive international environment and world-class education and care for children from 2 years old in Moscow.
          p We offer children more opportunities for their future. Thus we provide British (Cambridge) Curriculum by international teachers and Russian Curriculum.
          p Heritage School graduates get two diplomas — Cambridge and Russian — so they can any university in the world.
      +b.footer-menu
        +e.col
          +e.title Main
          ul
            li
              a(href="#") School
            li
              a(href="#") Academic
            li
              a(href="#") Beyond the classroom
            li
              a(href="#") Campuses
            li
              a(href="#") Admissions
            li
              a(href="#") Careers
            li
              a(href="#") Contacts
        +e.col
          +e.title Curricula
          ul
            li
              a(href="#") Kindergarten
            li
              a(href="#") Primary School
            li
              a(href="#") Secondary school
        +e.col
          +e.title Campuses
          ul
            li
              a(href="#") Sokolniki campus
            li
              a(href="#") Leninskiy campus
        +e.col
          +e.title For partners
          ul
            li
              a(href="#") School calendar
            li
              a(href="#") Price-list
            li
              a(href="#") Virtual tour
            li
              a(href="#") FAQ
        +e.col
          +e.title Admission
          ul
            li
              a(href="#") BLOG
            li
              a(href="#") CONTACTS
            li
              a(href="#") COVID-19

      +e.subscribe
        +e.subscribe-title Subscribe to news
        +e.subscribe-btn__wrap
          +e.BUTTON.subscribe-btn(type="button") subscribe
        +e.socials
          +e.A.socials-item.ic-whatsapp(href="#", rel="nofollow")
          +e.A.socials-item.ic-telegram(href="#", rel="nofollow")
          +e.A.socials-item.ic-instagram(href="#", rel="nofollow")
          +e.A.socials-item.ic-facebook(href="#", rel="nofollow")
        +e.privacy-text Personal data protection policy
    +e.bottom
      +e.copy ©2021 Heritage International School
