+b.HEADER.header
  .container
    +e.wrapper
      +e.BUTTON.mobile-btn(type="button")
        span
        span
        span
      +e.logo
        img(src="img/global/logo.svg", alt="")
      +b.UL.header-menu
        +e.LI.item
          +e.A.item-link(href="#") Школа
        +e.LI.item
          +e.A.item-link(href="#") Обучение
          +e.UL.submenu
            li
              a(href="#") Пункт 1
            li
              a(href="#") Пункт 2

        +e.LI.item
          +e.A.item-link(href="#") Школьная жизнь
        +e.LI.item
          +e.A.item-link(href="#") Кампусы
        +e.LI.item
          +e.A.item-link(href="#") Поступление
        +e.LI.item
          +e.A.item-link(href="#") Карьера
        +e.LI.item
          +e.A.item-link(href="#") Контакты

      +e.right
        +e.right-block
          +e.right-link
            a(href="#") RU
          +e.right-line
          +e.right-link
            +e.A.search-link(href="#")

+b.mobile-menu
  +e.wrapper
    +e.top
      +e.headline
        +e.logo
          img(src="img/global/logo.svg", alt="")
        +e.BUTTON.close(type="button")

      +e.UL.list
        +e.LI.item
          +e.A.item-link(href="#") School
        +e.LI.item
          +e.A.item-link(href="#") Academic
        +e.LI.item
          +e.A.item-link(href="#") Beyond the classroom
        +e.LI.item
          +e.A.item-link(href="#") Campuses
          ul
            li
              a(href="#") Кампус Ленинский
            li
              a(href="#") Кампус Сокольники
        +e.LI.item
          +e.A.item-link(href="#") Admissions
        +e.LI.item
          +e.A.item-link(href="#") Careers
        +e.LI.item
          +e.A.item-link(href="#") Contacts

    +e.bottom
      +e.BUTTON.button.btn(type="button") Оставить заявку
