//- Useful block card
mixin useful-card(data)
  .useful__item
    img.useful__item-img(src='./img/' + data.image alt="")
    .useful__item-info
      .useful__item-title!=data.title
      .useful__item-date!=data.date
      .useful__item-text!=data.text
    a.useful__item-link(href="#") read more
