.post {
    margin-top: 30px;

    @media (max-width: 1024px) {
        margin-top: 30px;
    }

    &-page {
        background: #e5e5e5;

        .subscribe {
            margin-bottom: 90px;
        }
    }

    &-headline {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;

        @media (max-width: 575px) {
            flex-direction: column;
        }

        &__left {
            display: flex;
            align-items: center;

            @media (max-width: 575px) {
                justify-content: space-between;
                width: 100%;
                margin-bottom: 15px;
            }
        }

        &__right {
            .rating,
            .rating__best,
            .rating__star,
            .rating__current {
                height: 25px;
            }
        }
    }

    &__content-time {
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.4;

        svg {
            width: 20px;
            height: 20px;
            margin-right: 10px;
        }

        span {
            margin-right: 5px;
        }
    }

    &__rating {
        margin-bottom: 25px;
    }

    &__title {
        margin-bottom: 30px;
        font-size: 48px;
        font-weight: 550;
        line-height: initial;
        color: #041e42;

        @media (max-width: 768px) {
            margin-bottom: 20px;
            font-size: 32px;
            font-weight: 300;
        }

        @media (max-width: 575px) {
            font-size: 22px;
        }
    }

    &__date {
        margin-right: 30px;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.4;
        color: #3a3a3a;
    }

    &__wrap {
        margin-bottom: 115px;

        @media (max-width: 992px) {
            margin-bottom: 90px;
        }

        @media (max-width: 768px) {
            margin-bottom: 60px;
        }

        @media (max-width: 575px) {
            margin-bottom: 45px;
        }
    }

    &__content {
        width: 100%;
        max-width: 1140px;
        margin: 0 auto;
        font-weight: 300;
        color: #3a3a3a;
        letter-spacing: -0.015em;

        @media (max-width: 768px) {
            font-size: 18px;
        }

        @media (max-width: 575px) {
            font-size: 14px;
        }

        p {
            margin-bottom: 30px;

            @media (max-width: 1200px) {
                margin-bottom: 20px;
            }

            @media (max-width: 992px) {
                font-size: 16px;
            }

            @media (max-width: 768px) {
                font-size: 14px;
            }

            @media (max-width: 575px) {
                font-size: 12px;
            }
        }

        table {
            @media (max-width: 992px) {
                font-size: 16px;
            }

            @media (max-width: 768px) {
                font-size: 14px;
            }

            @media (max-width: 575px) {
                font-size: 12px;
            }
        }

        ul,
        ol {
            margin-bottom: 30px;

            @media (max-width: 1200px) {
                margin-bottom: 20px;
            }

            li {
                @media (max-width: 768px) {
                    font-size: 14px;
                }

                @media (max-width: 575px) {
                    font-size: 12px;
                }

                &:not(:last-child) {
                    margin-bottom: 15px;

                    @media (max-width: 1200px) {
                        margin-bottom: 15px;
                    }
                }

                a {
                    font-weight: 300;
                    color: #041e42;

                    @media (max-width: 992px) {
                        font-size: 16px;
                    }

                    @media (max-width: 768px) {
                        font-size: 14px;
                    }

                    @media (max-width: 575px) {
                        font-size: 12px;
                    }

                    &:hover {
                        text-decoration: underline;
                        color: #c49a6c;
                    }
                }
            }
        }

        h2,
        h3,
        h4,
        h5,
        h6 {
            margin-bottom: 30px;
            font-weight: 500;
            line-height: initial;
            text-transform: none;
            color: #041e42;

            @media (max-width: 1200px) {
                margin-bottom: 20px;
            }

            @media (max-width: 768px) {
                margin-bottom: 15px;
            }
        }

        h2 {
            font-size: 48px;

            @media (max-width: 768px) {
                font-size: 32px;
            }

            @media (max-width: 575px) {
                font-size: 22px;
            }
        }

        img {
            width: 100%;
            height: auto;
            margin-bottom: 60px;

            @media (max-width: 1200px) {
                margin-bottom: 30px;
            }

            @media (max-width: 768px) {
                margin-bottom: 20px;
            }
        }

        a {
            text-decoration: underline;
        }

        iframe {
            @media (max-width: 768px) {
                height: 280px;
            }

            @media (max-width: 545px) {
                height: 190px;
            }
        }
    }
}
