.teacher-content {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #fff;

    &__text {
        font-family: "HelveticaNeueCyr";
        font-size: 21px;
        line-height: 1.6;
        color: #3a3a3a;

        @media (max-width: 991px) {
            font-size: 16px;
        }

        @media (max-width: 768px) {
            font-size: 14px;
        }
    }
}
