.breadcrumbs {
    margin-bottom: 6px;
}

.breadcrumb {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    &__item {
        position: relative;

        &:not(:last-child) {
            margin-right: 20px;

            &::before {
                position: absolute;
                top: 45%;
                right: -15px;
                transform: translateY(-40%);
                content: "/";
            }
        }

        span {
            font-size: 24px;
            font-weight: 300;
            line-height: 1.8;
            color: rgba(0, 0, 0, 0.7);

            @media (max-width: 992px) {
                font-size: 16px;
            }

            @media (max-width: 575px) {
                font-size: 14px;
            }

            &:hover {
                color: $blue;
            }
        }
    }
}
