.btn-more {
    cursor: pointer;
    width: 240px;
    height: 53px;
    font-size: 14px;
    font-weight: 750;
    text-transform: uppercase;
    color: #f9f9f9;
    background: #c49a6c;
    border: 1px solid #c49a6c;
    transition: opacity 0.5s ease-in-out;

    &:hover {
        opacity: 0.8;
    }
}
