.footer {
    position: relative;
    width: 100%;
    padding: 95px 0 50px;
    color: white;
    background-color: #041e42;

    @media (max-width: 768px) {
        padding: 50px 0 20px;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 90px;

        @media (max-width: 1200px) {
            flex-wrap: wrap;
        }

        @media (max-width: 992px) {
            margin-bottom: 45px;
        }
    }

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        @media (max-width: 575px) {
            justify-content: center;
            flex-direction: column;
        }
    }

    &-menu {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-right: 30px;
        margin-left: 0;
        padding-left: 0;
        list-style-type: none;

        @media (max-width: 1700px) {
            flex-wrap: wrap;
        }

        @media (max-width: 1200px) {
            margin-right: 0;
            margin-bottom: 35px;
        }

        @media (max-width: 768px) {
            display: none;
        }

        &__col {
            @media (max-width: 1200px) {
                width: calc(100% / 4 - 20px);
                margin-bottom: 20px;
            }

            @media (max-width: 992px) {
                width: calc(100% / 3 - 20px);
            }
        }

        &__title {
            margin-bottom: 10px;
            font-size: 14px;
            line-height: 1.8;
            text-transform: uppercase;
            color: #ffffff;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;

            a {
                margin-bottom: 10px;
                font-size: 14px;
                line-height: 1.8;
                color: #ffffff;

                &.uppercase {
                    text-transform: uppercase;
                }
            }
        }
    }

    &__contacts {
        display: flex;
        align-items: flex-end;
        margin-left: 40px;
        flex-direction: column;

        @media (max-width: 1200px) {
            align-items: flex-start;
            margin-left: 0;
        }

        @media (max-width: 992px) {
            justify-content: space-between;
            width: 100%;
            margin-left: 0;
            flex-direction: row;
        }

        @media (max-width: 575px) {
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        &-phone {
            display: block;
            margin-bottom: 40px;
            font-size: 24px;
            text-align: right;
            color: #ffffff;
            white-space: nowrap;

            @media (max-width: 575px) {
                margin-bottom: 20px;
                text-align: center;
            }
        }
    }

    &__policy {
        display: block;
        font-size: 14px;
        line-height: 1.2;
        text-align: right;
        color: #ffffff;

        @media (max-width: 575px) {
            margin-top: 15px;
            font-size: 12px;

            br {
                display: none;
            }
        }
    }

    &__copy {
        font-size: 18px;
        line-height: 1.5;
        text-align: center;

        @media (max-width: 768px) {
            font-size: 14px;
            line-height: 1.5;
        }

        @media (max-width: 575px) {
            font-size: 12px;
        }
    }
}
