@import "../../local_modules/normalize.css/normalize";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: stretch;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    display: flex;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "Avenir Next Cyr", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: $black;
    background: #e5e5e5;
    flex-direction: column;
    scroll-behavior: smooth;
}

.overlay {
    &._is-open {
        z-index: 10;
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(57, 57, 57, 0.8);
        transition: all 0.4s ease-in;
        mix-blend-mode: multiply;
    }
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: #041e42;

    &:hover {
        transition: 0.3 all ease-in-out;
    }
}

p {
    &:not(:last-child) {
        margin-bottom: 30px;

        @media (max-width: 1200px) {
            margin-bottom: 20px;
        }

        @media (max-width: 575px) {
            margin-bottom: 15px;
        }
    }
}

ul,
ol {
    padding-left: 25px;
}

.col-two {
    max-width: auto;
    columns: 2 auto;
}

input {
    &:focus,
    &:active {
        outline: none;
    }
}

h1,
h2 {
    font-weight: 550;
}

b,
strong {
    font-weight: 550;
}

.content {
    flex: 1 0 auto;
}

.fluid-img {
    display: block;
    width: 100%;
    height: auto;
    max-width: 100%;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 576px) {
    .container,
    .container-sm {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container,
    .container-sm,
    .container-md {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container,
    .container-sm,
    .container-md,
    .container-lg {
        max-width: 1024px;
    }
}

@media (min-width: 1100px) {
    .container,
    .container-sm,
    .container-md,
    .container-lg {
        max-width: 1150px;
    }
}

@media (min-width: 1300px) {
    .container,
    .container-sm,
    .container-md,
    .container-lg,
    .container-xl {
        max-width: 1290px;
    }
}

@media (min-width: 1450px) {
    .container,
    .container-sm,
    .container-md,
    .container-lg,
    .container-xl {
        max-width: 1500px;
    }
}

@media (min-width: 1700px) {
    .container,
    .container-sm,
    .container-md,
    .container-lg,
    .container-xl {
        max-width: 1600px;
    }
}

.row {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
    flex-wrap: wrap;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.col-auto {
    width: auto;
    max-width: 100%;
    flex: 0 0 auto;
}

.col-1 {
    max-width: 8.333333%;
    flex: 0 0 8.333333%;
}

.col-2 {
    max-width: 16.666667%;
    flex: 0 0 16.666667%;
}

.col-3 {
    max-width: 25%;
    flex: 0 0 25%;
}

.col-4 {
    max-width: 33.333333%;
    flex: 0 0 33.333333%;
}

.col-5 {
    max-width: 41.666667%;
    flex: 0 0 41.666667%;
}

.col-6 {
    max-width: 50%;
    flex: 0 0 50%;
}

.col-7 {
    max-width: 58.333333%;
    flex: 0 0 58.333333%;
}

.col-8 {
    max-width: 66.666667%;
    flex: 0 0 66.666667%;
}

.col-9 {
    max-width: 75%;
    flex: 0 0 75%;
}

.col-10 {
    max-width: 83.333333%;
    flex: 0 0 83.333333%;
}

.col-11 {
    max-width: 91.666667%;
    flex: 0 0 91.666667%;
}

.col-12 {
    max-width: 100%;
    flex: 0 0 100%;
}

@media (min-width: 576px) {
    .col-sm {
        max-width: 100%;
        flex-basis: 0;
        flex-grow: 1;
    }

    .col-sm-1 {
        max-width: 8.333333%;
        flex: 0 0 8.333333%;
    }

    .col-sm-2 {
        max-width: 16.666667%;
        flex: 0 0 16.666667%;
    }

    .col-sm-3 {
        max-width: 25%;
        flex: 0 0 25%;
    }

    .col-sm-4 {
        max-width: 33.333333%;
        flex: 0 0 33.333333%;
    }

    .col-sm-5 {
        max-width: 41.666667%;
        flex: 0 0 41.666667%;
    }

    .col-sm-6 {
        max-width: 50%;
        flex: 0 0 50%;
    }

    .col-sm-7 {
        max-width: 58.333333%;
        flex: 0 0 58.333333%;
    }

    .col-sm-8 {
        max-width: 66.666667%;
        flex: 0 0 66.666667%;
    }

    .col-sm-9 {
        max-width: 75%;
        flex: 0 0 75%;
    }

    .col-sm-10 {
        max-width: 83.333333%;
        flex: 0 0 83.333333%;
    }

    .col-sm-11 {
        max-width: 91.666667%;
        flex: 0 0 91.666667%;
    }

    .col-sm-12 {
        max-width: 100%;
        flex: 0 0 100%;
    }
}

@media (min-width: 768px) {
    .col-md {
        max-width: 100%;
        flex-basis: 0;
        flex-grow: 1;
    }

    .col-md-auto {
        width: auto;
        max-width: 100%;
        flex: 0 0 auto;
    }

    .col-md-1 {
        max-width: 8.333333%;
        flex: 0 0 8.333333%;
    }

    .col-md-2 {
        max-width: 16.666667%;
        flex: 0 0 16.666667%;
    }

    .col-md-3 {
        max-width: 25%;
        flex: 0 0 25%;
    }

    .col-md-4 {
        max-width: 33.333333%;
        flex: 0 0 33.333333%;
    }

    .col-md-5 {
        max-width: 41.666667%;
        flex: 0 0 41.666667%;
    }

    .col-md-6 {
        max-width: 50%;
        flex: 0 0 50%;
    }

    .col-md-7 {
        max-width: 58.333333%;
        flex: 0 0 58.333333%;
    }

    .col-md-8 {
        max-width: 66.666667%;
        flex: 0 0 66.666667%;
    }

    .col-md-9 {
        max-width: 75%;
        flex: 0 0 75%;
    }

    .col-md-10 {
        max-width: 83.333333%;
        flex: 0 0 83.333333%;
    }

    .col-md-11 {
        max-width: 91.666667%;
        flex: 0 0 91.666667%;
    }

    .col-md-12 {
        max-width: 100%;
        flex: 0 0 100%;
    }
}

@media (min-width: 992px) {
    .col-lg {
        max-width: 100%;
        flex-basis: 0;
        flex-grow: 1;
    }

    .col-lg-auto {
        width: auto;
        max-width: 100%;
        flex: 0 0 auto;
    }

    .col-lg-1 {
        max-width: 8.333333%;
        flex: 0 0 8.333333%;
    }

    .col-lg-2 {
        max-width: 16.666667%;
        flex: 0 0 16.666667%;
    }

    .col-lg-3 {
        max-width: 25%;
        flex: 0 0 25%;
    }

    .col-lg-4 {
        max-width: 33.333333%;
        flex: 0 0 33.333333%;
    }

    .col-lg-5 {
        max-width: 41.666667%;
        flex: 0 0 41.666667%;
    }

    .col-lg-6 {
        max-width: 50%;
        flex: 0 0 50%;
    }

    .col-lg-7 {
        max-width: 58.333333%;
        flex: 0 0 58.333333%;
    }

    .col-lg-8 {
        max-width: 66.666667%;
        flex: 0 0 66.666667%;
    }

    .col-lg-9 {
        max-width: 75%;
        flex: 0 0 75%;
    }

    .col-lg-10 {
        max-width: 83.333333%;
        flex: 0 0 83.333333%;
    }

    .col-lg-11 {
        max-width: 91.666667%;
        flex: 0 0 91.666667%;
    }

    .col-lg-12 {
        max-width: 100%;
        flex: 0 0 100%;
    }
}

@media (min-width: 1200px) {
    .col-xl {
        max-width: 100%;
        flex-basis: 0;
        flex-grow: 1;
    }

    .col-xl-auto {
        width: auto;
        max-width: 100%;
        flex: 0 0 auto;
    }

    .col-xl-1 {
        max-width: 8.333333%;
        flex: 0 0 8.333333%;
    }

    .col-xl-2 {
        max-width: 16.666667%;
        flex: 0 0 16.666667%;
    }

    .col-xl-3 {
        max-width: 25%;
        flex: 0 0 25%;
    }

    .col-xl-4 {
        max-width: 33.333333%;
        flex: 0 0 33.333333%;
    }

    .col-xl-5 {
        max-width: 41.666667%;
        flex: 0 0 41.666667%;
    }

    .col-xl-6 {
        max-width: 50%;
        flex: 0 0 50%;
    }

    .col-xl-7 {
        max-width: 58.333333%;
        flex: 0 0 58.333333%;
    }

    .col-xl-8 {
        max-width: 66.666667%;
        flex: 0 0 66.666667%;
    }

    .col-xl-9 {
        max-width: 75%;
        flex: 0 0 75%;
    }

    .col-xl-10 {
        max-width: 83.333333%;
        flex: 0 0 83.333333%;
    }

    .col-xl-11 {
        max-width: 91.666667%;
        flex: 0 0 91.666667%;
    }

    .col-xl-12 {
        max-width: 100%;
        flex: 0 0 100%;
    }
}

.stretch {
    align-items: stretch;
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;

    &__title {
        margin-bottom: 116px;
        font-size: 48px;
        font-weight: 550;
        text-align: center;
        text-transform: uppercase;
        color: $blue;

        @media (max-width: 1336px) {
            margin-bottom: 60px;
        }

        @media (max-width: 1024px) {
            font-size: 42px;
        }

        @media (max-width: 768px) {
            margin-bottom: 35px;
            font-size: 24px;
            font-weight: 300;
        }

        @media (max-width: 575px) {
            margin-bottom: 25px;
            font-size: 14px;
        }
    }

    &__introtext {
        margin-bottom: 100px;
        font-size: 18px;
        font-weight: 300;
        line-height: 1.5;
        color: #3a3a3a;

        @media (max-width: 1024px) {
            margin-bottom: 60px;
        }

        @media (max-width: 768px) {
            margin-bottom: 27px;
            font-size: 16px;
        }

        @media (max-width: 575px) {
            font-size: 12px;
        }
    }
}

@media (min-width: 1200px) {
    .section {
        padding-top: 130px;
        padding-bottom: 130px;
    }
}

.page {
    padding-top: 140px;

    @media (max-width: 768px) {
        padding-top: 0;
    }

    &__title {
        margin-bottom: 50px;
        font-size: 48px;
        font-weight: 550;
        line-height: 1.6;
        text-transform: uppercase;
        color: #041e42;

        @media (max-width: 1200px) {
            margin-bottom: 30px;
            font-size: 42px;
        }

        @media (max-width: 768px) {
            margin-bottom: 25px;
            font-size: 32px;
        }

        @media (max-width: 575px) {
            margin-bottom: 20px;
            font-size: 24px;
        }
    }

    &__content {
        margin-bottom: 240px;
        font-size: 24px;
        font-weight: 300;
        line-height: 1.6;
        color: #3a3a3a;

        @media (max-width: 1200px) {
            margin-bottom: 150px;
            font-size: 18px;
        }

        @media (max-width: 768px) {
            font-size: 16px;
        }

        @media (max-width: 575px) {
            font-size: 14px;
        }
    }
}

.inner {
    display: flex;
    justify-content: space-between;

    @media (max-width: 1200px) {
        flex-wrap: wrap;
    }

    &-page {
        background: #e5e5e5;
    }

    &__left {
        width: 30%;

        @media (max-width: 1200px) {
            width: 100%;
        }
    }

    &__right {
        width: 70%;
        padding-left: 100px;

        @media (max-width: 1600px) {
            padding-left: 50px;
        }

        @media (max-width: 1200px) {
            width: 100%;
            padding-left: 0;
        }
    }

    &__content {
        margin-bottom: 120px;
        font-weight: 300;
        line-height: 1.6;
        color: #3a3a3a;
        letter-spacing: -0.015em;

        @media (max-width: 1200px) {
            margin-bottom: 90px;
            font-size: 16px;
        }

        @media (max-width: 575px) {
            font-size: 14px;
        }

        p {
            line-height: 1.6;

            @media (max-width: 1200px) {
                font-size: 18px;
            }

            @media (max-width: 575px) {
                font-size: 14px;
            }

            &:not(:last-child) {
                margin-bottom: 30px;

                @media (max-width: 1200px) {
                    margin-bottom: 20px;
                }

                @media (max-width: 575px) {
                    margin-bottom: 15px;
                }
            }
        }

        ul,
        ol {
            margin-bottom: 30px;

            @media (max-width: 1200px) {
                margin-bottom: 20px;
            }

            @media (max-width: 575px) {
                margin-bottom: 15px;
            }
        }

        img {
            width: 100%;
            height: auto;
            margin-bottom: 30px;

            @media (max-width: 1200px) {
                margin-bottom: 20px;
            }

            @media (max-width: 575px) {
                margin-bottom: 15px;
            }
        }
    }
}

.content-list {
    &__title {
        margin-bottom: 70px;
        font-size: 48px;
        line-height: 1.6;
        text-transform: uppercase;
        color: #16345f;
        letter-spacing: -0.015em;

        @media (max-width: 768px) {
            margin-bottom: 30px;
            font-size: 32px;
        }

        @media (max-width: 575px) {
            margin-bottom: 20px;
            font-size: 22px;
        }
    }

    .row {
        align-items: stretch;
    }
}

.respons__table {
    width: 100%;
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
    border: 1px solid #ccc;
    border-collapse: collapse;
    table-layout: fixed;

    caption {
        margin: 0.5em 0 0.75em;
        font-size: 1.5em;
    }

    tr {
        padding: 0.35em;
        border: 1px solid #ddd;
        background-color: #f8f8f8;
        &:nth-of-type(even) {
            background: #eee;
        }
    }

    th,
    td {
        padding: 0.625em;
        text-align: center;
    }

    th {
        font-size: 0.85em;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.1em;
    }

    &-cost {
        font-weight: 700;
    }
}

@media screen and (max-width: 600px) {
    .respons__table {
        border: 0;
        caption {
            font-size: 1.3em;
        }

        thead {
            overflow: hidden;
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            padding: 0;
            border: none;
            clip: rect(0 0 0 0);
        }

        tr {
            display: block;
            margin-bottom: 0.625em;
            border-bottom: 3px solid #dddddd;
        }

        td {
            display: block;
            font-size: 0.8em;
            text-align: right;
            border-bottom: 1px solid #dddddd;

            &::before {
                font-weight: bold;
                text-transform: uppercase;
                content: attr(data-label);
                float: left;
            }

            &:last-child {
                border-bottom: 0;
            }
        }
    }
}

.cookie-popup {
    z-index: 500;
    position: fixed;
    bottom: 10px;
    left: 10px;
    max-width: 500px;
    padding: 16px 20px 18px 20px;
    font-size: 12px;
    font-weight: normal;
    line-height: 16px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.cookie-popup .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 -10px;
    flex-wrap: nowrap;
}

.cookie-popup-l {
    padding: 0 10px;
}

.cookie-popup p:not(:last-child) {
    margin: 0 0 7px 0;
}
.cookie-popup p:last-child {
    margin-bottom: 0;
}
.cookie-popup a {
    text-decoration: underline !important;
    color: #000 !important;
}
.cookie-popup-r {
    padding: 0 10px;
}
.btn-cookie,
.btn-cookie:focus {
    cursor: pointer;
    width: max-content;
    padding: 10px 14px 10px 14px;
    font-size: 11px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    color: #000;
    border: 2px solid #ffcc00;
    background-color: #ffcc00;
}
