@import "../../local_modules/normalize.css/normalize";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: stretch;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    display: flex;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "Avenir Next Cyr", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: $black;
    background: white;
    flex-direction: column;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: #244cc8;

    &:hover {
        transition: 0.3 all ease-in-out;
    }
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.col-two {
    max-width: auto;
    columns: 2 auto;
}

input {
    &:focus,
    &:active {
        outline: none;
    }
}

h1,
h2 {
    font-weight: 700;
}

p {
    font-size: 16px;
    line-height: 22px;

    @media (min-width: 576px) and (max-width: 991px) {
        font-size: 18px;
        line-height: 27px;

        &:not(:last-child) {
            margin-bottom: 23px;
        }
    }

    @media (min-width: 992px) {
        font-size: 18px;
        line-height: 27px;

        &:not(:last-child) {
            margin-bottom: 23px;
        }
    }

    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

b,
strong {
    font-weight: 600;
}

.content {
    flex: 1 0 auto;
}

.fluid-img {
    display: block;
    width: 100%;
    height: auto;
    max-width: 100%;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.row {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
    flex-wrap: wrap;
}

.stretch {
    align-items: stretch;
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .container {
        padding: 0 30px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .container {
        max-width: 960px;
        padding: 0 30px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1600px;
    }
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;

    &__title {
        margin-bottom: 116px;
        font-size: 42px;
        font-weight: 700;
        line-height: 24px;
        text-align: center;
        text-transform: uppercase;
        color: $blue;
    }

    &__introtext {
        margin-bottom: 100px;
        font-size: 24px;
        font-weight: 300;
        line-height: 1.5;
        color: #3a3a3a;
    }
}

@media (min-width: 768px) {
    .section {
        &__title {
            font-size: 48px;
        }
    }
}

@media (min-width: 1200px) {
    .section {
        padding-top: 130px;
        padding-bottom: 130px;
    }
}

.page {
    padding-top: 178px;

    &__title {
        margin-bottom: 50px;
        font-size: 48px;
        font-weight: 600;
        line-height: 157%;
        text-transform: uppercase;
        color: #041e42;
    }

    &__content {
        margin-bottom: 240px;
        font-size: 24px;
        font-weight: 300;
        line-height: 1.6;
        color: #3a3a3a;
    }
}

.inner {
    &-page {
        background: #e5e5e5;
    }

    &__left {
        width: 30%;
    }

    &__right {
        width: 70%;
        padding-left: 100px;
    }

    &__content {
        margin-bottom: 120px;
        font-size: 24px;
        font-weight: 300;
        line-height: 1.6;
        color: #3a3a3a;
        letter-spacing: -0.015em;

        p {
            font-size: 24px;
            line-height: 1.6;

            &:not(:last-child) {
                margin-bottom: 50px;
            }
        }

        img {
            width: 100%;
            height: auto;
            margin-bottom: 50px;
        }
    }
}

.content-list {
    &__title {
        margin-bottom: 70px;
        font-size: 48px;
        line-height: 1.6;
        text-transform: uppercase;
        color: #16345f;
        letter-spacing: -0.015em;
    }

    .row {
        align-items: stretch;
    }
}
