@import "../../local_modules/normalize.css/normalize";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: fill-available;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    display: flex;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "Avenir Next Cyr", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: $black;
    background: white;
    flex-direction: column;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: #244cc8;

    &:hover {
        transition: 0.3 all ease-in-out;
    }
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.col-two {
    max-width: auto;
    columns: 2 auto;
}

input {
    &:focus,
    &:active {
        outline: none;
    }
}

h1,
h2 {
    font-weight: 700;
}

p {
    font-size: 16px;
    line-height: 22px;

    @media (min-width: 576px) and (max-width: 991px) {
        font-size: 18px;
        line-height: 27px;

        &:not(:last-child) {
            margin-bottom: 23px;
        }
    }

    @media (min-width: 992px) {
        font-size: 18px;
        line-height: 27px;

        &:not(:last-child) {
            margin-bottom: 23px;
        }
    }

    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

.content {
    flex: 1 0 auto;
}

.fluid-img {
    display: block;
    width: 100%;
    height: auto;
    max-width: 100%;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.stretch {
    align-items: stretch;
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .container {
        padding: 0 30px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .container {
        max-width: 960px;
        padding: 0 30px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1600px;
    }
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;

    &__title {
        margin-bottom: 116px;
        font-size: 42px;
        font-weight: 700;
        line-height: 24px;
        text-align: center;
        text-transform: uppercase;
        color: $blue;
    }

    &__introtext {
        margin-bottom: 100px;
        font-size: 24px;
        font-weight: 300;
        line-height: 1.5;
        color: #3a3a3a;
    }
}

@media (min-width: 768px) {
    .section {
        &__title {
            font-size: 48px;
        }
    }
}

@media (min-width: 1200px) {
    .section {
        padding-top: 130px;
        padding-bottom: 130px;
    }
}

.swiper-pagination-bullet {
    width: 7px;
    height: 7px;
    margin: 0 15px;
    background: #373c40;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background: #ff6e3a;
}

.swiper-button-next,
.swiper-button-prev {
    &::after {
        display: block;
        width: 20px;
        height: 24px;
        content: "";
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5 23l11-11L5 1' stroke='%23FF6E3A' stroke-width='2'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.swiper-button-prev {
    &::after {
        transform: rotate(180deg);
    }
}
