.header {
    z-index: 4;
    position: fixed;
    width: 100%;
    background-color: #ffffff;

    @media (max-width: 768px) {
        position: relative;
    }

    &__wrapper {
        z-index: 10;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100px;
        margin: 0 auto;

        @media (max-width: 768px) {
            height: 75px;
        }
    }

    &__mobile-btn {
        cursor: pointer;
        display: block;
        width: 34px;
        height: 25px;
        border: 0;
        background-image: url("data:image/svg+xml,%3Csvg width='34' height='19' viewBox='0 0 34 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='0.000564575' y1='1' x2='33.8916' y2='1' stroke='%23041E42' stroke-width='2'/%3E%3Cline y1='17.2087' x2='33.891' y2='17.2087' stroke='%23041E42' stroke-width='2'/%3E%3Cline y1='9.10425' x2='16.9455' y2='9.10425' stroke='%23041E42' stroke-width='2'/%3E%3C/svg%3E%0A");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        @media (min-width: 993px) {
            display: none;
        }
    }

    &__left {
        display: flex;
        align-items: center;

        @media (max-width: 992px) {
            justify-content: center;
        }
    }

    &__right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-left: 120px;
        flex: 90px 0 0;

        @media (max-width: 1336px) {
            margin-left: 60px;
        }

        @media (max-width: 1200px) {
            margin-left: 30px;
        }

        @media (max-width: 992px) {
            flex: auto;
        }

        &-block {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &-line {
            width: 2px;
            height: 20px;
            margin: 0 18px;
            background-color: #041e42;
        }

        &-link a {
            font-size: 14px;
            font-weight: 300;
            line-height: 14px;
            text-transform: uppercase;
            color: #041e42;
        }
    }

    &__search-link {
        display: block;
        width: 16px;
        height: 16px;
        background-size: cover;
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.9023 14.9597L11.2545 10.3118C12.136 9.22342 12.6667 7.8398 12.6667 6.33336C12.6667 2.84116 9.82552 0 6.33333 0C2.84113 0 0 2.84116 0 6.33336C0 9.82555 2.84116 12.6667 6.33336 12.6667C7.8398 12.6667 9.22342 12.136 10.3118 11.2545L14.9597 15.9024C15.0899 16.0325 15.3009 16.0325 15.4311 15.9024L15.9024 15.4311C16.0325 15.3009 16.0325 15.0898 15.9023 14.9597ZM6.33336 11.3334C3.5762 11.3334 1.33335 9.09052 1.33335 6.33336C1.33335 3.5762 3.5762 1.33335 6.33336 1.33335C9.09052 1.33335 11.3334 3.5762 11.3334 6.33336C11.3334 9.09052 9.09052 11.3334 6.33336 11.3334Z' fill='%23041E42'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
    }

    &__logo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 152px;
        height: 100px;
        margin-right: 60px;
        background-color: $blue;
        flex-direction: column;
        flex: none;

        @media (max-width: 1200px) {
            margin-right: 30px;
        }

        @media (max-width: 992px) {
            position: absolute;
            left: 50%;
            margin-right: 0;
            transform: translateX(-50%);
        }

        @media (max-width: 768px) {
            height: 75px;
        }

        img {
            width: 100%;
            height: auto;
            max-width: 118px;
        }
    }

    &-menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin: 0;
        padding: 0;
        list-style-type: none;

        @media (max-width: 992px) {
            display: none;
        }

        &__item {
            position: relative;

            &-link {
                position: relative;
                display: block;
                font-size: 15px;
                font-weight: 300;
                line-height: 15px;
                text-transform: uppercase;
                color: #041e42;

                @media (max-width: 1200px) {
                    font-size: 13px;
                }

                &::after {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 0.1em;
                    opacity: 0;
                    transition: opacity 300ms, transform 300ms;
                    content: "";
                    background-color: #041e42;
                }

                &:hover::after,
                &:focus::after {
                    opacity: 1;
                    transform: translate3d(0, 0.2em, 0);
                }
            }

            &:hover .header-menu__submenu {
                display: block;
                height: auto;
                opacity: 1;
                transition: opacity 0s cubic-bezier(0.25, 0.46, 0.45, 0.94);
            }
        }

        &__submenu {
            z-index: 2;
            position: absolute;
            left: 0;
            display: none;
            width: 175px;
            margin: 0;
            padding: 30px;
            background: #ffffff;
            opacity: 0;
            transform: translateZ(0);
            transition: opacity 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
            list-style-type: none;

            li {
                padding-top: 8px;
                padding-bottom: 8px;
                font-weight: 400;
                text-transform: initial;

                a {
                    position: relative;
                    display: block;
                    font-size: 15px;
                    font-weight: 300;
                    text-transform: uppercase;
                    color: #041e42;

                    &:hover,
                    &:focus {
                        color: #c49a6c;
                    }
                }
            }
        }
    }
}

.mobile-menu {
    z-index: 20;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 310px;
    background: #041e42;
    transform: translateX(-10000px);

    &._is-active {
        overflow: auto;
        left: 0;
        transform: translateX(0);
        transition: transform 0.4s ease-out, -webkit-transform 0.4s ease-out !important;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        height: 100%;
        padding: 38px 24px;
        flex-direction: column;
    }

    &__headline {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 44px;
    }

    &__logo {
        max-width: 120px;

        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }

    &__close {
        cursor: pointer;
        width: 16px;
        height: 16px;
        border: 0;
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.31898 8L15.9518 0.321472C16.063 0.193865 15.9695 0 15.7977 0H13.7813C13.6625 0 13.5488 0.0515337 13.4705 0.139877L8 6.47362L2.52951 0.139877C2.45371 0.0515337 2.34 0 2.21872 0H0.202345C0.030524 0 -0.0629672 0.193865 0.0482113 0.321472L6.68102 8L0.0482113 15.6785C0.0233063 15.707 0.00732877 15.7418 0.00217506 15.7788C-0.00297865 15.8158 0.0029079 15.8534 0.0191365 15.8873C0.035365 15.9211 0.0612539 15.9497 0.093729 15.9697C0.126204 15.9897 0.163901 16.0002 0.202345 16H2.21872C2.33748 16 2.45118 15.9485 2.52951 15.8601L8 9.52638L13.4705 15.8601C13.5463 15.9485 13.66 16 13.7813 16H15.7977C15.9695 16 16.063 15.8061 15.9518 15.6785L9.31898 8Z' fill='white'/%3E%3C/svg%3E%0A");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    &__list {
        margin-left: 0;
        padding-left: 0;
        list-style-type: none;
    }

    &__item {
        margin-bottom: 30px;

        &-link {
            font-size: 16px;
            font-weight: 300;
            line-height: 15px;
            text-transform: uppercase;
            color: rgba(255, 255, 255, 0.5);

            &.active {
                color: #c49a6c;
            }
        }

        ul {
            margin-top: 21px;
            margin-left: 0;
            padding-left: 0;
            list-style-type: none;

            li {
                &:not(:last-child) {
                    margin-bottom: 20px;
                }

                a {
                    font-size: 14px;
                    font-weight: 300;
                    line-height: 14px;
                    color: #ffffff;
                }
            }
        }
    }
}
