.swiper-pagination {
    position: relative;
    display: flex;
    align-items: center;

    &-nav {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-num {
        z-index: 1;
        position: relative;
        margin-right: 10px;
        font-size: 14px;
        font-weight: 500;
        color: #e9edf2;
    }

    &-total {
        z-index: 1;
        position: relative;
        margin-left: 10px;
        font-size: 14px;
        font-weight: 500;
        color: #e9edf2;
    }

    &-bullet {
        width: 28px;
        height: 5px;
        margin: 0 15px;
        background: #f9f9f9;
        border-radius: 0;
        opacity: 1;

        @media (max-width: 768px) {
            width: 22px;
            height: 4px;
            margin: 0 10px;
        }

        &-active {
            background: $blue;
        }
    }
}

.swiper-button-next,
.swiper-button-prev {
    &::after {
        display: block;
        width: 20px;
        height: 24px;
        content: "";
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5 23l11-11L5 1' stroke='%23FF6E3A' stroke-width='2'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.swiper-button-prev {
    &::after {
        transform: rotate(180deg);
    }
}
