extends common/layout
include common/mixins.pug

block content
  .content.inner-page.campus

    include blocks/main-slider-campus.pug
    include blocks/about-campus.pug
    include blocks/welcome.pug
    include blocks/studying.pug
    include blocks/tuition.pug
    include blocks/team.pug
    include blocks/environment.pug
    include blocks/school_feedback.pug
    include blocks/information.pug
    include blocks/contacts.pug
