extends common/layout
include common/mixins.pug

block content
  .content.inner-page.campus

    include blocks/main-slider-campus.pug
    include blocks/about-campus.pug
    include blocks/welcome.pug
    include blocks/environment.pug
    include blocks/contacts.pug
