extends common/layout
include common/mixins.pug

block content
  .content.inner-page.campus

    include blocks/campus/main-slider-campus.pug
    include blocks/campus/about-campus.pug
    include blocks/campus/welcome-new.pug
    include blocks/campus/studying.pug
    include blocks/campus/tuition.pug
    include blocks/campus/team-campus.pug
    //- include blocks/team.pug
    include blocks/campus/quote-campus.pug
    include blocks/campus/environment-campus.pug
    //- include blocks/school_feedback.pug
    //- include blocks/information.pug
    include blocks/campus/contacts.pug
