extends common/layout
include common/mixins.pug

block content
  .content.inner-page
    +b.page
      +breadcrumb([["Main", "/"], ["COVID-19", ""]])

      .container
        +e.H1.title COVID-19

        +b.details
          +e.DETAILS.item
            summary Что такое COVID-19?
            +e.item-content COVID-19 — это инфекционное заболевание, вызванное недавно обнаруженным коронавирусом. Сейчас это пандемия, затрагивающая многие страны мира.
          +e.DETAILS.item
            summary Каковы симптомы COVID-19?
            +e.item-content COVID-19 — это инфекционное заболевание, вызванное недавно обнаруженным коронавирусом. Сейчас это пандемия, затрагивающая многие страны мира.
          +e.DETAILS.item
            summary Как распространяется COVID-19?
            +e.item-content COVID-19 — это инфекционное заболевание, вызванное недавно обнаруженным коронавирусом. Сейчас это пандемия, затрагивающая многие страны мира.
          +e.DETAILS.item
            summary Группа риска
            +e.item-content COVID-19 — это инфекционное заболевание, вызванное недавно обнаруженным коронавирусом. Сейчас это пандемия, затрагивающая многие страны мира.
          +e.DETAILS.item
            summary Что мы можем сделать, чтобы защитить себя и окружающих?
            +e.item-content COVID-19 — это инфекционное заболевание, вызванное недавно обнаруженным коронавирусом. Сейчас это пандемия, затрагивающая многие страны мира.
          +e.DETAILS.item
            summary Школьные меры безопасности
            +e.item-content COVID-19 — это инфекционное заболевание, вызванное недавно обнаруженным коронавирусом. Сейчас это пандемия, затрагивающая многие страны мира.
          +e.DETAILS.item
            summary Кухня
            +e.item-content COVID-19 — это инфекционное заболевание, вызванное недавно обнаруженным коронавирусом. Сейчас это пандемия, затрагивающая многие страны мира.
          +e.DETAILS.item
            summary Прогулка на улице
            +e.item-content COVID-19 — это инфекционное заболевание, вызванное недавно обнаруженным коронавирусом. Сейчас это пандемия, затрагивающая многие страны мира.
          +e.DETAILS.item
            summary Навигация
            +e.item-content COVID-19 — это инфекционное заболевание, вызванное недавно обнаруженным коронавирусом. Сейчас это пандемия, затрагивающая многие страны мира.
          +e.DETAILS.item
            summary Личная защита
            +e.item-content COVID-19 — это инфекционное заболевание, вызванное недавно обнаруженным коронавирусом. Сейчас это пандемия, затрагивающая многие страны мира.
          +e.DETAILS.item
            summary Чрезвычайные ситуации
            +e.item-content COVID-19 — это инфекционное заболевание, вызванное недавно обнаруженным коронавирусом. Сейчас это пандемия, затрагивающая многие страны мира.

        +e.content
          p Heritage School будет постоянно отслеживать и надлежащим образом реагировать на любые изменения ситуации с COVID-19 с членами нашего студенческого сообщества и сотрудниками, чтобы обеспечить их здоровье и безопасность.
