extends common/layout
include common/mixins.pug

block content
  .content.inner-page.founder

    include blocks/founder/welcome-new.pug
    include blocks/founder/content.pug
    include blocks/founder/quote.pug
    include blocks/founder/content_2.pug
