extends common/layout
include common/mixins.pug

block content
  .content.home-page

    include blocks/main-slider.pug
    include blocks/posts.pug
    include blocks/instagram.pug
    //- include blocks/about.pug
    //- include blocks/admissions.pug
    //- include blocks/offer.pug
    //- include blocks/school-life.pug
    //- include blocks/environment.pug
    //- include blocks/useful-info.pug
    //include blocks/subscribe.pug
