extends common/layout
include common/mixins.pug

block content
  .content.inner-page.kindergarten

    include blocks/main-slider-kindergarten.pug
    include blocks/about-kindergarten.pug
    include blocks/campuses-kindergarten.pug
    include blocks/environment-kindergarten.pug
    include blocks/native-text-kindergarten.pug
