extends common/layout
include common/mixins.pug

block content
  .content.inner-page.kindergarten

    include blocks/kindergarten/main-slider-kindergarten.pug
    include blocks/kindergarten/about-kindergarten.pug
    include blocks/kindergarten/campuses-kindergarten.pug
    include blocks/kindergarten/environment-kindergarten.pug
    include blocks/kindergarten/native-text-kindergarten.pug
    include blocks/kindergarten/bottom-block-kindergarten.pug
