extends common/layout
include common/mixins.pug

block content
  .content.inner-page
    .page
      +breadcrumb([["Main", "/"], ["About Us", ""]])
      .container
        h1.page__title About school

        .content-list
          .row
            +card({
              title: "Государственная или частная школа - что лучше?",
              date: "16. 03. 2021",
              text: "Что лучше – государственная или частная школа? За что платят родители учеников частных школ? Чего не хватает государственным школам и какие навыки, можно получить только в частной школе? Анализируем плюсы и минусы бесплатного и платного образования и делаем выводы.",
              img: "inner/01.jpg"
            })
            +card({
              title: "Система Монтессори – что это такое. Плюсы и минусы методики.",
              date: "12. 03. 2021",
              text: "Пожалуй, в каждом большом городе найдутся детские сады и школы, работающие по системе Монтессори. Давайте разберемся, в чем суть этой популярной педагогической методики. Кем была Мария Монтессори, и что нового она привнесла в современное образование?",
              img: "inner/02.jpg"
            })
            +card({
              title: "Платное или бесплатное образование",
              date: "25. 02. 2021",
              text: "Школьное образование обязательно для всех. Однако, кто-то учится в районной муниципальной школе, а кто-то посещает элитную частную школу. Что лучше? Разбираемся с плюсами и минусами платного и бесплатного образования и оцениваем перспективы развития частного сегмента образования в России. ",
              img: "inner/03.jpg"
            })
            +card({
              title: "Сколько стоит обучение в частной школе",
              date: "16. 03. 2021",
              text: "Что лучше – государственная или частная школа? За что платят родители учеников частных школ? Чего не хватает государственным школам и какие навыки, можно получить только в частной школе? Анализируем плюсы и минусы бесплатного и платного образования и делаем выводы.",
              img: "inner/04.jpg"
            })
            +card({
              title: "Сравнение системы образования России и Великобритании",
              date: "12. 03. 2021",
              text: "Пожалуй, в каждом большом городе найдутся детские сады и школы, работающие по системе Монтессори. Давайте разберемся, в чем суть этой популярной педагогической методики. Кем была Мария Монтессори, и что нового она привнесла в современное образование?",
              img: "inner/05.jpg"
            })
            +card({
              title: "Система образования в Великобритании",
              date: "25. 02. 2021",
              text: "Школьное образование обязательно для всех. Однако, кто-то учится в районной муниципальной школе, а кто-то посещает элитную частную школу. Что лучше? Разбираемся с плюсами и минусами платного и бесплатного образования и оцениваем перспективы развития частного сегмента образования в России. ",
              img: "inner/06.jpg"
            })
            +card({
              title: "Начальное образование в Великобритании (Primary School)",
              date: "16. 03. 2021",
              text: "Что лучше – государственная или частная школа? За что платят родители учеников частных школ? Чего не хватает государственным школам и какие навыки, можно получить только в частной школе? Анализируем плюсы и минусы бесплатного и платного образования и делаем выводы.",
              img: "inner/07.jpg"
            })
            +card({
              title: "Кембриджский экзамен по английскому языку",
              date: "12. 03. 2021",
              text: "Пожалуй, в каждом большом городе найдутся детские сады и школы, работающие по системе Монтессори. Давайте разберемся, в чем суть этой популярной педагогической методики. Кем была Мария Монтессори, и что нового она привнесла в современное образование?",
              img: "inner/08.jpg"
            })
            +card({
              title: "Как поступить в Кембридж",
              date: "25. 02. 2021",
              text: "Школьное образование обязательно для всех. Однако, кто-то учится в районной муниципальной школе, а кто-то посещает элитную частную школу. Что лучше? Разбираемся с плюсами и минусами платного и бесплатного образования и оцениваем перспективы развития частного сегмента образования в России. ",
              img: "inner/09.jpg"
            })
