extends common/layout
include common/mixins.pug

block content
  .content.post-page
    .page
      +breadcrumb([["Main", "/"], ["Государственная или частная школа - что лучше?", ""]])
      .post
        .container
          .post__content
            .post__wrap
              h1.post__title Государственная или частная школа - что лучше?
              .post__date 16. 03. 2021
              p "Что лучше – частная или государственная школа?" – согласитесь, такая дилемма может возникнуть только у тех родителей, которые теоретически могут себе позволить оплачивать образование. Малоимущие семьи просто не задаются подобными вопросами. Бессмысленно рассуждать о преимуществах частного образования, когда у вас нет средств даже не базовые нужды. Поэтому сегодня мы обсудим плюсы и минусы государственных и частных школ с точки зрения состоятельного родителя. Речь не идет о баснословно богатых семьях – у подобных людей просто нет выбора, из соображений безопасности для них существует только одна опция – частные школы. Мы рассмотрим ситуацию со стороны представителя middle class (среднего класса), к каковым я отношу и себя.
              p Рад приветствовать вас сегодня, я Mr. Great, и мы исследуем преимущества и недостатки государственных и частных школ.
              img(src="img/post/image-01.jpg", alt="")
              h2 Содержание
              ul
                li
                  a(href="#")  Что такое частная школа
                li
                  a(href="#")  Частная школа или государственная. Основные отличи
                li
                  a(href="#") Плюсы и минусы частной школы
                li
                  a(href="#") Плюсы и минусы государственной школы
                li
                  a(href="#") Резюме
              h2 Что такое частная школа
              p Согласно определению Википедии, частная школа – это негосударственное учебное заведение начального или среднего образования, средства на содержание которого частично или полностью окупаются за счет платы, взимаемой с учащихся.
              p Говоря простым языком, частная школа финансируется родителями учеников. Будучи человеком бизнеса, я (возможно, несколько цинично) рассматриваю модель частной школы с коммерческой точки зрения. В отличие от государственной школы, частной жизненно необходимо сохранять и преумножать удовлетворенность родителей качеством обучения, возможностями внеклассного развития и академическими показателями учеников.
              img(src="img/post/image-02.jpg", alt="")
              p Помимо базовых обязательных составляющих частные школы заинтересованы в формировании некоего комьюнити, собственной атмосферы, "духа" школы, который бы выделил ее на фоне других. Определенная репутация, традиции, сообщество, объединенных общими идеями педагогов составляют облик частной школы. Для родителей, выбирающих частное образование, во главе угла могут стоять как статус школы и ожидаемые высокие результаты в учебе, так и психологический комфорт, доброжелательная учебная среда, гарантированная в негосударственных учебных заведениях.
            +b.author-block
              +e.top
                +e.photos
                  +e.photos-item
                    img(src="img/post/author-01.jpg", alt="")
                  +e.photos-item
                    img(src="img/post/author-02.jpg", alt="")
                +e.name Чета Great&Britain
                  br
                  | семья англичан в Москве

              +e.bottom
                +e.text
                  p Супруги - сторонники классического британского образования. Столкнувшись с необходимостью выбора английской школы для своих сыновей, пара изучила вопрос изнутри и теперь с удовольствием делится опытом в нашем блоге.
                  p С сентября 2020 11-летний Вильям и 8-летний Филипп учатся в Heritage School. Подписывайтесь на блог наших амбассадоров Great & Britain и вы узнаете все о британском образовании, обучении в билингвальной школе и воспитании детей.

    include blocks/subscribe.pug
    include blocks/share-block.pug

    .container
      .content-list
        h2.content-list__title ЭТО МОЖЕТ БЫТЬ ИНТЕРЕСНЫМ
        .row
          +card({
            title: "Государственная или частная школа - что лучше?",
            date: "16. 03. 2021",
            text: "Что лучше – государственная или частная школа? За что платят родители учеников частных школ? Чего не хватает государственным школам и какие навыки, можно получить только в частной школе? Анализируем плюсы и минусы бесплатного и платного образования и делаем выводы.",
            img: "inner/01.jpg"
          })
          +card({
            title: "Система Монтессори – что это такое. Плюсы и минусы методики.",
            date: "12. 03. 2021",
            text: "Пожалуй, в каждом большом городе найдутся детские сады и школы, работающие по системе Монтессори. Давайте разберемся, в чем суть этой популярной педагогической методики. Кем была Мария Монтессори, и что нового она привнесла в современное образование?",
            img: "inner/02.jpg"
          })
          +card({
            title: "Платное или бесплатное образование",
            date: "25. 02. 2021",
            text: "Школьное образование обязательно для всех. Однако, кто-то учится в районной муниципальной школе, а кто-то посещает элитную частную школу. Что лучше? Разбираемся с плюсами и минусами платного и бесплатного образования и оцениваем перспективы развития частного сегмента образования в России. ",
            img: "inner/03.jpg"
          })
