extends common/layout
include common/mixins.pug

block content
  .content.inner-page.teacher
    include blocks/teacher/first-block.pug
    include blocks/teacher/qualifications.pug
    include blocks/teacher/content.pug
    include blocks/teacher/bottom-block.pug
