extends common/layout
include common/mixins.pug

block content
  .content.inner-page.universal-page
    include blocks/universal/menu.pug
    include blocks/universal/first-block.pug
    include blocks/universal/text-block.pug
    include blocks/universal/text-photo-block.pug
    include blocks/universal/text-block-2.pug
    include blocks/universal/text-photo-block-2.pug
    include blocks/universal/quote.pug
    include blocks/universal/gallery.pug
    include blocks/universal/text-block-3.pug
    include blocks/universal/bottom-block.pug
