extends common/layout
include common/mixins.pug

block content
  .content.inner-page.vision-page
    include blocks/vision/about.pug
    include blocks/vision/quote.pug
    include blocks/vision/image-block.pug
    include blocks/vision/mission.pug
    .vision-content
      include blocks/vision/text-block.pug
