extends common/layout
include common/mixins.pug

block content
  .content.inner-page.worth-page
    include blocks/worth/about.pug
    include blocks/worth/menu.pug
    include blocks/worth/quote.pug
    include blocks/worth/text-block.pug
    include blocks/worth/image-block.pug
    include blocks/worth/text-block-2.pug
