// Mobile first
$mediaWidthMobile: 320px;
$mediaWidthTablet: 768px;
$mediaWidthTabletHorizontal: 1024px;
$mediaWidthLaptop: 1366px;

$primary-font: "Open Sans Condensed";

$black: #3a3a3a;
$dark-black: #000000;
$blue: #041e42;
$footerBg: #262b2e;
