// Mobile first
$mediaWidthMobile: 320px;
$mediaWidthTablet: 768px;
$mediaWidthTabletHorizontal: 1024px;
$mediaWidthLaptop: 1366px;

$primary-font: "Open Sans Condensed";

$black: #373c40;
$footerBg: #262b2e;
