.about-campus {
    margin-bottom: 120px;

    @media (max-width: 1336px) {
        margin-bottom: 60px;
    }

    @media (max-width: 768px) {
        margin-bottom: 30px;
    }

    &__text {
        @media (max-width: 768px) {
            font-size: 14px;
        }

        @media (max-width: 575px) {
            font-size: 12px;
        }
    }
}
