.about-campus {
    margin-bottom: 120px;

    @media (max-width: 1024px) {
        margin-bottom: 60px;
    }

    &__title {
        margin-bottom: 95px;
        font-size: 48px;
        font-weight: 550;
        text-align: center;
        text-transform: uppercase;
        color: #041e42;

        @media (max-width: 1024px) {
            font-size: 32px;
            margin-bottom: 40px;
        }
    }

    &__text {
        p {
            font-size: 24px;
            font-weight: 300;
            line-height: 1.6;
            color: #3a3a3a;
            letter-spacing: -0.015em;

            @media (max-width: 1024px) {
                font-size: 18px;
            }
        }
    }
}
