.bottom-block {
    margin-bottom: 150px;
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: #ffffff;

    @media (max-width: 768px) {
        margin-bottom: 60px;
    }

    &--gray {
        background-color: transparent;
    }

    &__title {
        margin-bottom: 35px;
        font-family: "Lora", serif;
        font-size: 42px;
        font-weight: 400;
        color: $blue;

        @media (max-width: 1024px) {
            font-size: 34px;
        }

        @media (max-width: 768px) {
            margin-bottom: 30px;
            font-size: 24px;
        }

        @media (max-width: 575px) {
            margin-bottom: 25px;
            font-size: 24px;
        }
    }

    &__text {
        font-family: "HelveticaNeueCyr";
        font-weight: 300;
        line-height: 1.57;

        @media (max-width: 991px) {
            font-size: 16px;
        }

        @media (max-width: 768px) {
            margin-bottom: 50px;
            font-size: 14px;
        }

        @media (max-width: 575px) {
            font-size: 12px;
        }
    }
}
