.campuses {
    margin-bottom: 230px;

    @media (max-width: 992px) {
        margin-bottom: 120px;
    }

    &__wrapper {
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;
    }

    &__line {
        position: relative;

        @media (max-width: 768px) {
            display: none;
        }

        &::after {
            z-index: 0;
            position: absolute;
            bottom: -200px;
            left: 50%;
            display: block;
            width: 5px;
            height: 218px;
            background: $twine;
            transform: translateX(-50%);
            content: "";
        }
    }

    &__item {
        overflow: hidden;
        z-index: 1;
        position: relative;
        display: flex;
        justify-content: flex-end;
        width: calc(100% / 3 - 15px);
        height: 600px;
        margin-bottom: 12px;
        text-align: center;
        flex-direction: column;

        @media (max-width: 1600px) {
            height: 500px;
        }

        @media (max-width: 1440px) {
            height: 400px;
        }

        @media (max-width: 768px) {
            width: calc(100% / 2 - 10px);
        }

        @media (max-width: 575px) {
            width: 100%;
            height: 420px;
        }

        &:hover {
            .campuses__item-overlay {
                background: rgba(240, 212, 198, 0.5) none repeat scroll 0% 0%;
            }

            .campuses__item-image {
                overflow: hidden;
                transform: scale(1.05);
                transition: all 0.2s ease-in-out 0s;
            }

            .campuses__item-link {
                color: $blue;
                background-color: $white;
                border-color: $white;
            }
        }

        &-overlay {
            z-index: 1;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(22, 52, 95, 0.4);
            mix-blend-mode: multiply;
        }

        &-image {
            z-index: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            transition: all 0.2s ease-in-out 0s;
            object-fit: cover;
        }

        &-info {
            z-index: 2;
            padding: 50px 36px 80px;

            @media (max-width: 1440px) {
                padding: 35px 30px 50px;
            }

            @media (max-width: 992px) {
                padding: 35px 20px;
            }
        }

        &-title {
            display: block;
            margin-bottom: 130px;
            font-size: 40px;
            line-height: 49px;
            color: $white;

            @media (max-width: 1600px) {
                font-size: 30px;
            }

            @media (max-width: 1440px) {
                margin-bottom: 65px;
                font-size: 24px;
                line-height: 20px;
            }

            @media (max-width: 992px) {
                font-size: 18px;
            }
        }

        &-city {
            margin-bottom: 25px;
            font-size: 40px;
            line-height: 27px;
            text-transform: uppercase;
            color: $white;

            @media (max-width: 1600px) {
                font-size: 30px;
            }

            @media (max-width: 1200px) {
                font-size: 24px;
                line-height: 1.3;
            }

            @media (max-width: 992px) {
                font-size: 18px;
            }
        }

        &-link {
            margin: 0 auto;
        }
    }
}
