.contacts {
    &__wrap {
        display: flex;
        justify-content: space-between;

        @media (max-width: 1460px) {
            flex-wrap: wrap;
        }
    }

    &__col {
        flex-basis: 49%;

        @media (max-width: 1460px) {
            flex-basis: 100%;
        }
    }

    &__headline {
        margin-bottom: 70px;

        @media (max-width: 768px) {
            margin-bottom: 30px;
        }
    }

    &__title {
        margin-bottom: 25px;
        font-size: 48px;
        font-family: "Lora", serif;
        font-weight: 400;
        line-height: 18px;
        color: #041e42;

        @media (max-width: 1336px) {
            margin-bottom: 60px;
        }

        @media (max-width: 1024px) {
            font-size: 42px;
        }

        @media (max-width: 768px) {
            margin-bottom: 20px;
            font-size: 14px;
            font-weight: 300;
            text-transform: uppercase;
        }

        &-campus {
            font-size: 36px;
            font-weight: 300;
            line-height: 24px;
            color: #041e42;

            @media (max-width: 1024px) {
                font-size: 28px;
            }

            @media (max-width: 768px) {
                font-size: 14px;
            }
        }
    }

    &__info {
        &-item {
            display: flex;
            align-items: center;
            margin-bottom: 40px;

            @media (max-width: 768px) {
                border-bottom: 20px;
            }

            &:last-child {
                margin-bottom: 20px;

                @media (max-width: 768px) {
                    border-bottom: 10px;
                }
            }

            &__icon {
                width: 32px;
                height: 32px;
                margin-right: 21px;
            }

            &__text {
                span,
                a {
                    display: block;
                    font-size: 16px;
                    font-weight: 300;
                    line-height: 1.4;
                    color: #3a3a3a;
                }

                a:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    &__download {
        display: block;
        margin-bottom: 50px;
        padding-left: 53px;
        font-size: 16px;
        font-weight: 300;
        text-decoration: underline;
        color: #041e42;

        &:hover {
            text-decoration: none;
        }
    }

    &__map {
        iframe {
            width: 100%;
            height: 530px;
        }
    }
}
