.environment {
    position: relative;

    &__wrapper{
        z-index: 1;
        position: relative;
        background-color: $white;
    }

    &__line {
        position: relative;

        @media (max-width: 768px) {
            display: none;
        }

        &::after {
            z-index: 0;
            position: absolute;
            bottom: -130px;
            left: 50%;
            display: block;
            width: 3px;
            height: 150px;
            background: $twine;
            transform: translateX(-50%);
            content: "";
        }
    }

    &-center {
        text-align: center;

        .section__introtext {
            max-width: 1060px;
            margin: 0 auto 60px;

            @media (max-width: 991px) {
                max-width: 100%;
            }
        }
    }

    &__wrap {
        max-width: 60%;
        margin: 0 auto;

        @media (max-width: 991px) {
            max-width: 100%;
        }
    }

    &__item {
        margin-bottom: 30px;

        @media (max-width: 768px) {
            margin-bottom: 20px;
        }

        &-info {
            display: flex;
            align-items: center;
            width: 100%;
            max-width: 470px;
        }

        &-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 17px;
            flex: none;

            @media (max-width: 768px) {
                margin-right: 10px;

                img {
                    width: 32px;
                }
            }

            @media (max-width: 575px) {
                margin-right: 7px;

                img {
                    width: 23px;
                }
            }
        }

        &-title {
            max-width: 80%;
            font-family: "HelveticaNeueCyr";
            font-weight: 300;
            color: $dark-black;

            @media (max-width: 1024px) {
                font-size: 16px;
            }

            @media (max-width: 768px) {
                font-size: 14px;
            }

            @media (max-width: 575px) {
                font-size: 9px;
            }
        }
    }

    .gallery {
        margin-top: 130px;

        @media (max-width: 1024px) {
            margin-top: 60px;
        }

        @media (max-width: 768px) {
            margin-top: 30px;
        }

        .swiper-pagination-nav {
            margin-top: 110px;

            @media (max-width: 768px) {
                margin-top: 30px;
            }
        }

        .swiper-slide {
            opacity: 0.5;
        }

        .swiper-slide-active {
            opacity: 1;
        }
    }

    .swiper-pagination-bullet {
        background: #908e8e;
    }

    .swiper-pagination-total {
        color: #908e8e;
    }

    .swiper-pagination-num {
        color: $blue;
    }

    .swiper-pagination-bullet-active {
        background: $blue;
    }
}
