.home-slider {
    margin-bottom: 90px;

    @media (max-width: 768px) {
        margin-bottom: 30px;
    }

    .swiper-container {
        position: relative;
    }

    &__item {
        position: relative;
        width: 100%;
        height: 100vh;
        margin-top: 100px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        @media (max-width: 1700px) {
            height: 72vh;
        }

        @media (max-width: 1600px) {
            height: 62vh;
        }

        @media (max-width: 1280px) {
            height: 85vh;
        }

        @media (max-width: 1200px) {
            height: 52vh;
        }

        @media (max-width: 992px) {
            height: 45vh;
        }

        @media (max-width: 768px) {
            height: 52vh;
            margin-top: 0;
        }

        @media (max-width: 565px) {
            height: 32vh;
        }

        @media (max-width: 375px) {
            height: 22vh;
        }

        &-wrap {
            display: flex;
            justify-content: flex-end;
            height: 100%;
            padding-bottom: 75px;
            flex-direction: column;

            @media (max-width: 768px) {
                padding-bottom: 45px;
            }

            @media (max-width: 575px) {
                padding-bottom: 30px;
            }

            .container {
                position: relative;
            }
        }

        &-text {
            z-index: 1;
            position: relative;
            bottom: 25px;
            max-width: 80%;
            min-width: 35%;
            font-family: "Lora", serif;
            font-size: 80px;
            font-weight: 400;
            line-height: 1;
            color: $white;
            // text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

            @media (max-width: 1440px) {
                max-width: 90%;
                font-size: 64px;
            }

            @media (max-width: 1280px) {
                font-size: 46px;
            }

            @media (max-width: 1024px) {
                max-width: 100%;
                font-size: 44px;
            }

            @media (max-width: 768px) {
                font-size: 40px;
            }

            @media (max-width: 560px) {
                bottom: 10px;
                font-size: 18px;
            }
        }

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            background: rgba(75, 75, 75, 0.2);
            content: "";
        }

        &-btn {
            margin-bottom: 30px;

            @media (max-width: 560px) {
                margin-bottom: 10px;
            }
        }
    }

    &__nav-wrap {
        position: relative;
        bottom: 60px;
        left: 0;

        @media (max-width: 768px) {
            bottom: 35px;
        }

        @media (max-width: 575px) {
            bottom: 25px;
        }
    }

    .swiper-pagination-nav {
        justify-content: flex-start;
    }
}

#fullpage {
    .home-slider {
        &__item {
            @media (max-width: 1700px) {
                height: 100vh !important;
            }

            @media (max-width: 768px) {
                height: 52vh !important;
                margin-top: 0;
            }

            @media (max-width: 565px) {
                height: 32vh !important;
            }

            @media (max-width: 375px) {
                height: 22vh !important;
            }
        }
    }
}
