.home-slider {
    margin-bottom: 90px;

    @media (max-width: 768px) {
        margin-bottom: 30px;
    }

    .swiper-container {
        position: relative;
    }

    &__item {
        position: relative;
        width: 100%;
        height: 82vh;
        margin-top: 100px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        @media (max-width: 1024px) {
            height: 62vh;
        }

        @media (max-width: 768px) {
            height: 26vh;
            margin-top: 0;
        }

        @media (min-width: 376px) and (max-width: 414px) {
            height: 25vh;
        }

        @media (min-width: 367px) and (max-width: 375px) {
            height: 22.5vh;
        }

        @media (max-width: 320px) {
            height: 25vh;
        }

        &-wrap {
            display: flex;
            justify-content: flex-end;
            height: 100%;
            padding-bottom: 75px;
            flex-direction: column;

            .container {
                position: relative;
            }

            @media (max-width: 768px) {
                padding-bottom: 45px;
            }

            @media (max-width: 575px) {
                padding-bottom: 30px;
            }
        }

        &-text {
            z-index: 1;
            position: relative;
            bottom: 25px;
            max-width: 50%;
            min-width: 35%;
            font-size: 95px;
            font-weight: 550;
            line-height: 1;
            text-transform: uppercase;
            color: #ffffff;
            text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

            @media (max-width: 1440px) {
                font-size: 72px;
            }

            @media (max-width: 1024px) {
                font-size: 48px;
            }

            @media (max-width: 768px) {
                font-size: 32px;
            }
        }

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            background: rgba(75, 75, 75, 0.2);
            content: "";
        }
    }

    &__nav-wrap {
        position: relative;
        bottom: 60px;
        left: 0;

        @media (max-width: 768px) {
            bottom: 40px;
        }
    }

    .swiper-pagination-nav {
        justify-content: flex-start;
    }
}
