.home-slider {
    position: relative;
    margin-bottom: 0;

    // @media (max-width: 768px) {
    //     margin-bottom: 30px;
    // }

    .swiper-container {
        position: relative;
    }

    &__item {
        position: relative;
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        @media (max-width: 1600px) {
            height: 85vh;
        }

        @media (max-width: 1200px) {
            height: 85vh;
        }

        @media (max-width: 992px) {
            height: 55vh;
        }

        @media (max-width: 768px) {
            height: 45vh;
        }

        @media (max-width: 665px) {
            height: 35vh;
            margin-top: 0;
        }

        @media (max-width: 565px) {
            height: 32vh;
        }

        @media (max-width: 375px) {
            height: 30vh;
        }

        &-img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
        }

        &-logo {
            img {
                height: auto;
                max-width: 230px;

                @media (max-width: 1440px) {
                    max-width: 190px;
                }

                @media (max-width: 992px) {
                    max-width: 130px;
                }

                @media (max-width: 575px) {
                    max-width: 75px;
                }
            }
        }

        &-wrap {
            display: flex;
            justify-content: space-between;
            height: 100%;
            padding-top: 190px;
            padding-bottom: 75px;
            flex-direction: column;

            @media (max-width: 1600px) {
                padding-top: 120px;
                padding-bottom: 50px;
            }

            @media (max-width: 768px) {
                padding-top: 60px;
                padding-bottom: 45px;
            }

            @media (max-width: 575px) {
                padding-top: 60px;
                padding-bottom: 30px;
            }

            @media (max-width: 575px) {
                padding-top: 30px;
                padding-bottom: 20px;
            }
        }

        .container,
        .row {
            height: 100%;
        }

        &-text {
            z-index: 1;
            position: relative;
            bottom: 25px;
            max-width: 80%;
            min-width: 35%;
            font-family: "Lora", serif;
            font-size: 80px;
            font-weight: 400;
            line-height: 1;
            color: $white;
            // text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

            @media (max-width: 1440px) {
                max-width: 90%;
                font-size: 64px;
            }

            @media (max-width: 1280px) {
                font-size: 46px;
            }

            @media (max-width: 1024px) {
                max-width: 100%;
                font-size: 44px;
            }

            @media (max-width: 768px) {
                font-size: 24px;
            }

            @media (max-width: 560px) {
                bottom: 10px;
                font-size: 18px;
            }
        }

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            background: rgba(75, 75, 75, 0.2);
            content: "";
        }
    }

    &__button-wrap {
        .swiper-button-prev {
            top: 50%;
            left: 100px;
            width: 70px;
            height: 70px;
            transform: translateY(-50%);

            @media (max-width: 1600px) {
                left: 25px;
                width: 50px;
                height: 50px;
            }

            @media (max-width: 1200px) {
                top: 55%;
            }

            @media (max-width: 768px) {
                left: 15px;
                width: 35px;
                height: 35px;
            }

            &::after {
                width: 70px;
                height: 70px;
                background-size: contain;
                background-image: url("data:image/svg+xml,%3Csvg width='70' height='70' viewBox='0 0 70 70' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M19.3519 0.446114C18.7476 -0.137648 17.7845 -0.120818 17.2007 0.483481C16.6314 1.07309 16.6314 2.00771 17.2007 2.59717L49.5928 34.9923L17.1977 67.3844C16.5934 67.9682 16.5767 68.9312 17.1604 69.5356C17.7441 70.1399 18.7071 70.1566 19.3116 69.573C19.3242 69.5607 19.3367 69.5483 19.3489 69.5356L52.8181 36.0664C53.412 35.4724 53.412 34.5094 52.8181 33.9152L19.3519 0.446114Z' fill='%23F44336'/%3E%3Cpath d='M18.275 69.9832C17.4348 69.9847 16.7525 69.3047 16.7509 68.4645C16.7502 68.0594 16.9111 67.6708 17.1979 67.3847L49.593 34.9926L17.1979 2.60061C16.603 2.00572 16.603 1.04129 17.1979 0.446409C17.7928 -0.148477 18.7572 -0.148477 19.3521 0.446409L52.8213 33.9156C53.4152 34.5097 53.4152 35.4727 52.8213 36.0668L19.3521 69.5359C19.0669 69.8221 18.6792 69.9832 18.275 69.9832Z' fill='%23C49A6C'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='70' height='70' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
                background-repeat: no-repeat;

                @media (max-width: 1600px) {
                    width: 50px;
                    height: 50px;
                }

                @media (max-width: 786px) {
                    width: 35px;
                    height: 35px;
                }
            }
        }

        .swiper-button-next {
            top: 50%;
            right: 100px;
            width: 70px;
            height: 70px;
            transform: translateY(-50%);

            @media (max-width: 1600px) {
                right: 25px;
                width: 50px;
                height: 50px;
            }

            @media (max-width: 1200px) {
                top: 55%;
            }

            @media (max-width: 768px) {
                right: 15px;
                width: 35px;
                height: 35px;
            }

            @media (max-width: 575px) {
                right: 15px;
            }

            &::after {
                width: 70px;
                height: 70px;
                background-size: contain;
                background-image: url("data:image/svg+xml,%3Csvg width='70' height='70' viewBox='0 0 70 70' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M19.3519 0.446114C18.7476 -0.137648 17.7845 -0.120818 17.2007 0.483481C16.6314 1.07309 16.6314 2.00771 17.2007 2.59717L49.5928 34.9923L17.1977 67.3844C16.5934 67.9682 16.5767 68.9312 17.1604 69.5356C17.7441 70.1399 18.7071 70.1566 19.3116 69.573C19.3242 69.5607 19.3367 69.5483 19.3489 69.5356L52.8181 36.0664C53.412 35.4724 53.412 34.5094 52.8181 33.9152L19.3519 0.446114Z' fill='%23F44336'/%3E%3Cpath d='M18.275 69.9832C17.4348 69.9847 16.7525 69.3047 16.7509 68.4645C16.7502 68.0594 16.9111 67.6708 17.1979 67.3847L49.593 34.9926L17.1979 2.60061C16.603 2.00572 16.603 1.04129 17.1979 0.446409C17.7928 -0.148477 18.7572 -0.148477 19.3521 0.446409L52.8213 33.9156C53.4152 34.5097 53.4152 35.4727 52.8213 36.0668L19.3521 69.5359C19.0669 69.8221 18.6792 69.9832 18.275 69.9832Z' fill='%23C49A6C'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='70' height='70' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
                background-repeat: no-repeat;

                @media (max-width: 1600px) {
                    width: 50px;
                    height: 50px;
                }

                @media (max-width: 768px) {
                    width: 35px;
                    height: 35px;
                }
            }
        }
    }

    &__nav-wrap {
        position: relative;
        bottom: 60px;
        left: 0;

        @media (max-width: 768px) {
            bottom: 35px;
        }

        @media (max-width: 575px) {
            bottom: 25px;
        }
    }

    .swiper-pagination-nav {
        justify-content: flex-start;
    }
}

// #fullpage {
//     .home-slider {
//         &__item {
//             @media (max-width: 1700px) {
//                 height: 100vh !important;
//             }

//             @media (max-width: 768px) {
//                 height: 52vh !important;
//                 margin-top: 0;
//             }

//             @media (max-width: 565px) {
//                 height: 32vh !important;
//             }

//             @media (max-width: 375px) {
//                 height: 22vh !important;
//             }
//         }
//     }
// }
