.information {
    margin-bottom: 150px;
    background-color: #ffffff;

    &__wrap {
        display: flex;

        @media (max-width: 768px) {
            flex-wrap: wrap;
        }
    }

    &__block {
        display: flex;
        flex: 0 0 100%;
    }

    &__photo {
        transform: translate(-100%, 0);
        flex: 0 0 50%;

        @media (max-width: 768px) {
            flex: 0 0 100%;
            transform: none;
            margin-top: 40px;
        }
    }

    &__body {
        width: 50%;
        padding-top: 50px;
        padding-right: 50px;
        font-size: 24px;
        font-weight: 300;
        line-height: 1.6;
        color: #3a3a3a;
        letter-spacing: -0.015em;

        @media (max-width: 1024px) {
            padding-top: 0;
        }

        @media (max-width: 768px) {
            font-size: 16px;
            flex-wrap: wrap;
            width: 100%;
        }
    }
}
