.instagram {
    padding-bottom: 150px;

    &__hashtag {
        display: block;
        margin-bottom: 85px;
        font-size: 65px;
        line-height: 67px;
        text-align: center;
        color: #16345f;

        @media (max-width: 1600px) {
            margin-bottom: 25px;
            padding-top: 45px;
            font-size: 55px;
            line-height: 60px;
        }

        @media (max-width: 1440px) {
            font-size: 32px;
            line-height: 32px;
        }
    }

    &__socials {
        margin-bottom: 120px;

        @media (max-width: 1600px) {
            margin-bottom: 25px;
        }

        &-title {
            margin-bottom: 33px;
            font-size: 25px;
            line-height: 2;
            text-align: center;
            text-transform: uppercase;
            color: #16345f;

            @media (max-width: 1600px) {
                margin-bottom: 15px;
                font-size: 20px;
            }

            @media (max-width: 992px) {
                margin-bottom: 20px;
                font-size: 18px;
            }
        }

        &-wrap {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &-item {
            display: block;
            width: 56px;
            height: 56px;
            background-size: contain;

            &:not(:last-child) {
                margin-right: 35px;

                @media (max-width: 992px) {
                    margin-right: 20px;
                }

                @media (max-width: 575px) {
                    margin-right: 10px;
                }
            }

            &:hover {
                opacity: 0.8;
                transition: opacity 0.5s ease-in-out;
            }
        }
    }

    &__grid {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        &-item {
            @media (min-width: 1920px) {
                width: calc(100% / 11);
            }

            @media (max-width: 1920px) {
                width: calc(100% / 9);

                &:nth-child(n + 19) {
                    display: none;
                }
            }

            @media (max-width: 1600px) {
                width: calc(100% / 8);

                &:nth-child(n + 17) {
                    display: none;
                }
            }

            @media (max-width: 1024px) {
                width: calc(100% / 4);

                &:nth-child(n + 9) {
                    display: none;
                }
            }

            @media (max-width: 768px) {
                width: calc(100% / 2);

                &:nth-child(n + 5) {
                    display: none;
                }
            }
        }
    }
}

.ic-whatsapp {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='56' height='56' viewBox='0 0 56 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M40.542 15.4029C37.0953 11.9521 32.5114 10.0509 27.628 10.0488C17.5652 10.0488 9.37557 18.2382 9.37152 28.3037C9.37017 31.5213 10.2107 34.6622 11.8084 37.4308L9.21838 46.8909L18.8964 44.3522C21.5631 45.8068 24.5653 46.5734 27.6205 46.5743H27.6282C37.6898 46.5743 45.8804 38.3842 45.8842 28.3183C45.8862 23.4401 43.989 18.8535 40.542 15.4029ZM27.628 43.4912H27.6217C24.899 43.49 22.2287 42.7583 19.8986 41.3761L19.3448 41.0471L13.6017 42.5537L15.1346 36.9543L14.7737 36.3802C13.2547 33.9643 12.4526 31.1719 12.454 28.3048C12.4571 19.9387 19.2643 13.1322 27.634 13.1322C31.687 13.1335 35.4969 14.7139 38.3617 17.5821C41.2265 20.4502 42.8033 24.2626 42.802 28.3172C42.7984 36.684 35.9916 43.4912 27.628 43.4912ZM35.9512 32.1267C35.4951 31.8982 33.2523 30.795 32.8341 30.6425C32.4163 30.4903 32.1118 30.4145 31.808 30.871C31.5038 31.3275 30.6297 32.3551 30.3635 32.6594C30.0972 32.9638 29.8314 33.0021 29.3752 32.7736C28.9189 32.5454 27.4492 32.0635 25.7067 30.5094C24.3508 29.2999 23.4353 27.8061 23.1691 27.3496C22.9033 26.8927 23.1668 26.6696 23.3692 26.4186C23.863 25.8054 24.3575 25.1625 24.5095 24.8583C24.6618 24.5538 24.5855 24.2874 24.4713 24.0591C24.3575 23.8309 23.4452 21.5856 23.0652 20.672C22.6946 19.7828 22.3189 19.9029 22.0387 19.889C21.7729 19.8757 21.4687 19.873 21.1644 19.873C20.8604 19.873 20.3661 19.987 19.9479 20.4439C19.5299 20.9007 18.3516 22.0041 18.3516 24.2494C18.3516 26.4947 19.9861 28.6637 20.2141 28.9682C20.4421 29.2726 23.4308 33.8802 28.0066 35.8558C29.095 36.3263 29.9445 36.6067 30.6072 36.8169C31.7001 37.1641 32.6942 37.1151 33.4803 36.9977C34.3569 36.8666 36.179 35.8941 36.5594 34.8286C36.9395 33.763 36.9395 32.8498 36.8252 32.6594C36.7114 32.4691 36.4072 32.3551 35.9512 32.1267Z' fill='%23C49A6C'/%3e%3c/svg%3e ");
}

.ic-telegram {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='57' height='56' viewBox='0 0 57 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0)'%3e%3cpath d='M23.9524 32.557L23.3999 40.5575C24.1904 40.5575 24.5328 40.2079 24.9434 39.7881L28.6498 36.1418L36.3298 41.9315C37.7383 42.7396 38.7307 42.3141 39.1106 40.5976L44.1518 16.281L44.1532 16.2796C44.5999 14.1362 43.4002 13.298 42.0279 13.8238L12.3962 25.5022C10.3739 26.3102 10.4045 27.4708 12.0524 27.9966L19.628 30.4222L37.2247 19.0878C38.0529 18.5233 38.8058 18.8356 38.1865 19.4001L23.9524 32.557Z' fill='%23C49A6C'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0'%3e%3crect width='33.4035' height='34.386' fill='white' transform='translate(10.8457 10.8066)'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
}

.ic-instagram {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='57' height='56' viewBox='0 0 57 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0)'%3e%3cpath d='M34.6105 11.7898H22.4526C16.858 11.7898 12.321 16.3267 12.321 21.9214V34.0793C12.321 39.6739 16.858 44.2108 22.4526 44.2108H34.6105C40.2052 44.2108 44.7421 39.6739 44.7421 34.0793V21.9214C44.7421 16.3267 40.2052 11.7898 34.6105 11.7898ZM41.7026 34.0793C41.7026 37.9901 38.5213 41.1714 34.6105 41.1714H22.4526C18.5418 41.1714 15.3605 37.9901 15.3605 34.0793V21.9214C15.3605 18.0106 18.5418 14.8293 22.4526 14.8293H34.6105C38.5213 14.8293 41.7026 18.0106 41.7026 21.9214V34.0793Z' fill='%23C49A6C'/%3e%3cpath d='M28.531 19.8953C24.0549 19.8953 20.4258 23.5244 20.4258 28.0005C20.4258 32.4767 24.0549 36.1058 28.531 36.1058C33.0072 36.1058 36.6363 32.4767 36.6363 28.0005C36.6363 23.5244 33.0072 19.8953 28.531 19.8953ZM28.531 33.0663C25.7388 33.0663 23.4653 30.7928 23.4653 28.0005C23.4653 25.2062 25.7388 22.9347 28.531 22.9347C31.3233 22.9347 33.5968 25.2062 33.5968 28.0005C33.5968 30.7928 31.3233 33.0663 28.531 33.0663Z' fill='%23C49A6C'/%3e%3cpath d='M37.2446 20.3671C37.8411 20.3671 38.3246 19.8835 38.3246 19.2871C38.3246 18.6906 37.8411 18.207 37.2446 18.207C36.6481 18.207 36.1646 18.6906 36.1646 19.2871C36.1646 19.8835 36.6481 20.3671 37.2446 20.3671Z' fill='%23C49A6C'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0'%3e%3crect width='32.4211' height='32.4211' fill='white' transform='translate(12.321 11.7898)'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
}

.ic-facebook {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='57' height='56' viewBox='0 0 57 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0)'%3e%3cpath d='M33.9731 16.6793H37.2019V11.0557C36.6449 10.9791 34.7291 10.8066 32.4979 10.8066C27.8425 10.8066 24.6535 13.7349 24.6535 19.1167V24.0698H19.5162V30.3565H24.6535V46.1751H30.952V30.358H35.8815L36.664 24.0713H30.9505V19.7401C30.952 17.9231 31.4413 16.6793 33.9731 16.6793Z' fill='%23C49A6C'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0'%3e%3crect width='35.3684' height='35.3684' fill='white' transform='translate(10.3978 10.8066)'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
}
