.quote-block {
    position: relative;
    padding-top: 250px;
    padding-bottom: 250px;

    @media (max-width: 992px) {
        padding-top: 170px;
        padding-bottom: 170px;
    }

    &::after {
        position: absolute;
        top: 50%;
        right: 0;
        width: 230px;
        height: 650px;
        transform: translateY(-50%);
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("../img/quote/bg.png");
        content: "";

        @media (max-width: 1440px) {
            width: 200px;
            height: 550px;
        }

        @media (max-width: 992px) {
            width: 180px;
            height: 410px;
        }

        @media (max-width: 575px) {
            width: 130px;
            height: 340px;
        }
    }

    &__text {
        position: relative;
        font-size: 75px;
        line-height: 125%;
        text-align: center;
        color: #3a3a3a;

        @media (max-width: 1600px) {
            font-size: 55px;
        }

        @media (max-width: 1336px) {
            font-size: 42px;
        }

        @media (max-width: 992px) {
            font-size: 32px;
        }

        @media (max-width: 575px) {
            font-size: 24px;
        }

        &::before {
            position: absolute;
            top: -70px;
            left: 50%;
            display: block;
            width: 58px;
            height: 58px;
            transform: translateX(-50%);
            content: "";
            background-size: contain;
            background-image: url("data:image/svg+xml,%3Csvg width='46' height='42' viewBox='0 0 46 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.08 0.599993L16.42 3.81999C15.3933 5.12666 14.2733 6.99333 13.06 9.42C11.94 11.8467 10.96 14.5533 10.12 17.54C9.37333 20.4333 9.14 23.28 9.42 26.08C10.54 25.6133 11.66 25.38 12.78 25.38C14.8333 25.38 16.56 26.08 17.96 27.48C19.4533 28.7867 20.2 30.6067 20.2 32.94C20.2 35.6467 19.4067 37.84 17.82 39.52C16.2333 41.1067 14.2267 41.9 11.8 41.9C8.16 41.9 5.40667 40.64 3.54 38.12C1.76667 35.5067 0.88 32.2867 0.88 28.46C0.88 25.94 1.3 23 2.14 19.64C3.07333 16.28 4.38 12.92 6.06 9.55999C7.74 6.19999 9.74667 3.21333 12.08 0.599993ZM37.84 0.599993L42.18 3.81999C41.1533 5.12666 40.0333 6.99333 38.82 9.42C37.7 11.8467 36.72 14.5533 35.88 17.54C35.1333 20.4333 34.9 23.28 35.18 26.08C36.3 25.6133 37.42 25.38 38.54 25.38C40.5933 25.38 42.32 26.08 43.72 27.48C45.2133 28.7867 45.96 30.6067 45.96 32.94C45.96 35.6467 45.1667 37.84 43.58 39.52C41.9933 41.1067 39.9867 41.9 37.56 41.9C33.92 41.9 31.1667 40.64 29.3 38.12C27.5267 35.5067 26.64 32.2867 26.64 28.46C26.64 25.94 27.06 23 27.9 19.64C28.8333 16.28 30.14 12.92 31.82 9.55999C33.5 6.19999 35.5067 3.21333 37.84 0.599993Z' fill='%23C49A6C'/%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
        }

        &::after {
            position: absolute;
            bottom: -80px;
            left: 50%;
            display: block;
            width: 58px;
            height: 58px;
            transform: translateX(-50%);
            content: "";
            background-size: contain;
            background-image: url("data:image/svg+xml,%3Csvg width='46' height='42' viewBox='0 0 46 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.48 41.9L4.14 38.68C5.16667 37.3733 6.24 35.5067 7.36 33.08C8.57333 30.6533 9.55333 27.9933 10.3 25.1C11.14 22.1133 11.42 19.22 11.14 16.42C10.02 16.8867 8.9 17.12 7.78 17.12C5.72667 17.12 3.95333 16.4667 2.46 15.16C1.06 13.76 0.36 11.8933 0.36 9.55999C0.36 6.85333 1.15333 4.70666 2.74 3.11999C4.32667 1.43999 6.33333 0.599993 8.76 0.599993C12.4 0.599993 15.1067 1.90666 16.88 4.51999C18.7467 7.03999 19.68 10.2133 19.68 14.04C19.68 16.56 19.2133 19.5 18.28 22.86C17.44 26.22 16.18 29.58 14.5 32.94C12.82 36.3 10.8133 39.2867 8.48 41.9ZM34.24 41.9L29.9 38.68C30.9267 37.3733 32 35.5067 33.12 33.08C34.3333 30.6533 35.3133 27.9933 36.06 25.1C36.9 22.1133 37.18 19.22 36.9 16.42C35.78 16.8867 34.66 17.12 33.54 17.12C31.4867 17.12 29.7133 16.4667 28.22 15.16C26.82 13.76 26.12 11.8933 26.12 9.55999C26.12 6.85333 26.9133 4.70666 28.5 3.11999C30.0867 1.43999 32.0933 0.599993 34.52 0.599993C38.16 0.599993 40.8667 1.90666 42.64 4.51999C44.5067 7.03999 45.44 10.2133 45.44 14.04C45.44 16.56 44.9733 19.5 44.04 22.86C43.2 26.22 41.94 29.58 40.26 32.94C38.58 36.3 36.5733 39.2867 34.24 41.9Z' fill='%23C49A6C'/%3E%3C/svg%3E ");
            background-repeat: no-repeat;
        }
    }
}
