.school-life {
    position: relative;
    background-color: rgba(22, 52, 95, 0.95);
    background-size: cover;
    background-position: center;

    &::after {
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("../img/school-life/bg.jpg");
        content: "";
        background-size: cover;
    }

    .section__title {
        color: #ffffff;
    }

    &__wrap {
        display: flex;
        justify-content: space-between;
        margin-bottom: 80px;
        flex-wrap: wrap;
    }

    &__col {
        width: calc(100% / 4 - 30px);

        @media (max-width: 768px) {
            width: calc(100% / 2 - 15px);

            &:not(:last-child) {
                margin-bottom: 60px;
            }
        }

        @media (max-width: 575px) {
            width: 100%;
        }
    }

    &__item {
        &-img {
            margin-bottom: 45px;

            @media (max-width: 768px) {
                margin-bottom: 30px;
            }

            img {
                width: 100%;
                height: auto;
            }
        }

        &__info {
            margin-bottom: 25px;
        }

        &-title {
            display: block;
            margin-bottom: 38px;
            font-weight: 500;
            line-height: 1.2;
            text-decoration: underline;
            color: white;

            @media (max-width: 768px) {
                margin-bottom: 15px;
                font-size: 16px;
                line-height: 1.7;
            }

            @media (max-width: 575px) {
                font-size: 14px;
            }
        }

        &-date {
            margin-bottom: 13px;
            font-size: 14px;
            line-height: 1.6;
            color: rgba(255, 255, 255, 0.8);

            @media (max-width: 768px) {
                font-size: 14px;
            }

            @media (max-width: 575px) {
                font-size: 12px;
            }
        }

        &-text {
            margin-bottom: 25px;
            font-size: 16px;
            line-height: 1.4;
            color: white;

            @media (max-width: 768px) {
                margin-bottom: 30px;
                font-size: 14px;
            }

            @media (max-width: 575px) {
                font-size: 12px;
            }
        }

        &-link {
            position: relative;
            display: block;
            margin-left: 37px;
            font-size: 14px;
            line-height: 14px;
            text-decoration: underline;
            color: white;

            &::before {
                position: absolute;
                top: 50%;
                left: -37px;
                width: 20px;
                height: 1px;
                transform: translateY(-50%);
                content: "";
                background-color: white;
            }

            &:hover {
                text-decoration: none;
            }
        }
    }

    &__more {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.mass-media {
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    &__title {
        font-weight: 600;
        line-height: 24px;
        color: white;

        @media (max-width: 768px) {
            font-size: 16px;
        }
    }

    &__link {
        position: relative;
        display: block;
        margin-left: 17px;
        font-size: 18px;
        line-height: 14px;
        text-decoration: underline;
        color: white;

        @media (max-width: 768px) {
            font-size: 14px;
        }

        &::before {
            position: absolute;
            top: 50%;
            left: -27px;
            width: 20px;
            height: 1px;
            transform: translateY(-50%);
            content: "";
            background-color: white;
        }

        &:hover {
            text-decoration: none;
        }
    }

    &__item {
        &:not(:last-child) {
            margin-bottom: 50px;

            @media (max-width: 768px) {
                margin-bottom: 25px;
            }
        }

        &-source {
            margin-bottom: 10px;
            font-weight: 600;
            line-height: 1.2;
            color: white;

            @media (max-width: 768px) {
                font-size: 16px;
            }
        }

        &-date {
            margin-bottom: 10px;
            font-size: 14px;
            font-weight: 300;
            line-height: 1.6;
            color: rgba(255, 255, 255, 0.8);

            @media (max-width: 768px) {
                font-size: 12px;
            }
        }

        &-title {
            display: block;
            max-width: 290px;
            font-weight: 600;
            line-height: 1.2;
            text-decoration: underline;
            color: white;

            @media (max-width: 768px) {
                font-size: 16px;
            }

            @media (max-width: 575px) {
                font-size: 14px;
            }

            &:hover {
                text-decoration: none;
            }
        }
    }
}
