.share-block {
    margin-bottom: 200px;

    @media (max-width: 992px) {
        margin-bottom: 90px;
    }

    &__wrap {
        display: flex;
        align-items: center;

        @media (max-width: 992px) {
            flex-wrap: wrap;
        }
    }

    &__text {
        width: 40%;

        @media (max-width: 992px) {
            width: 100%;
            margin-bottom: 30px;
        }

        span {
            display: block;
            width: 100%;
            max-width: 514px;
            font-size: 30px;
            font-weight: 300;
            line-height: 1.3;
            color: #041e42;

            @media (max-width: 992px) {
                max-width: 100%;
                font-size: 22px;
            }

            @media (max-width: 575px) {
                max-width: 100%;
                font-size: 16px;
            }
        }
    }

    &__list {
        width: 60%;

        @media (max-width: 9565px) {
            width: 100%;
        }
    }

    .list {
        display: flex;
        align-items: center;
    }
}

.share {
    display: flex;
    align-items: center;
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
    justify-content: center;

    &__item {
        width: 70px;
        height: 70px;

        &:not(:last-child) {
            margin-right: 15px;
        }

        &-link {
            cursor: pointer;
            position: relative;
            display: block;
            transition: all 0.5s ease-in-out;

            &::before {
                position: absolute;
                display: block;
                width: 48px;
                height: 48px;
                content: "";
            }

            &:hover {
                opacity: 0.8;
            }

            &.share-fb::before {
                background: center / cover no-repeat
                    url("data:image/svg+xml,%3Csvg width='44' height='45' viewBox='0 0 44 45' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M29.2385 7.59456H33.2253V0.650782C32.5375 0.556161 30.1719 0.343262 27.417 0.343262C21.6687 0.343262 17.731 3.9589 17.731 10.6043V16.7201H11.3877V24.4827H17.731V44.0148H25.5082V24.4845H31.5949L32.5611 16.7219H25.5064V11.374C25.5082 9.13035 26.1123 7.59456 29.2385 7.59456Z' fill='%23C49A6C'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='43.6716' height='43.6716' fill='white' transform='translate(0.128906 0.343262)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
            }

            &.share-twitter::before {
                background: center / cover no-repeat
                    url("data:image/svg+xml,%3Csvg width='44' height='45' viewBox='0 0 44 45' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M43.9796 8.72817C42.3559 9.44043 40.6257 9.91253 38.8219 10.1418C40.6776 9.03381 42.0939 7.29274 42.7597 5.19418C41.0296 6.22573 39.1193 6.95436 37.0835 7.36097C35.4407 5.61171 33.0993 4.52832 30.545 4.52832C25.5892 4.52832 21.5995 8.55079 21.5995 13.482C21.5995 14.1915 21.6595 14.8738 21.8069 15.5233C14.365 15.1603 7.78008 11.5936 3.35645 6.16023C2.58416 7.50014 2.13116 9.03381 2.13116 10.6848C2.13116 13.7849 3.72759 16.533 6.10723 18.1239C4.66908 18.0967 3.25821 17.6791 2.06293 17.0214C2.06293 17.0487 2.06293 17.0842 2.06293 17.1197C2.06293 21.4696 5.16575 25.0828 9.23461 25.9151C8.50598 26.1143 7.71186 26.2098 6.88771 26.2098C6.31463 26.2098 5.7361 26.1771 5.19304 26.057C6.35284 29.6019 9.64395 32.208 13.5573 32.2926C10.5118 34.675 6.64484 36.1104 2.45863 36.1104C1.72454 36.1104 1.02047 36.0777 0.316406 35.9876C4.28157 38.5447 8.98082 40.0046 14.0485 40.0046C30.5204 40.0046 39.5259 26.3599 39.5259 14.5326C39.5259 14.1369 39.5123 13.7549 39.4932 13.3756C41.2697 12.1148 42.7625 10.5402 43.9796 8.72817Z' fill='%23C49A6C'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='43.6632' height='43.6632' fill='white' transform='translate(0.316406 0.434814)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
            }

            &.share-whatsapp::before {
                background: center / cover no-repeat
                    url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M40.9439 9.01896C36.688 4.75804 31.0279 2.41046 24.9981 2.40796C12.5729 2.40796 2.46068 12.5199 2.45569 24.9484C2.45402 28.9214 3.4919 32.7997 5.46465 36.2182L2.2666 47.8992L14.2167 44.7644C17.5094 46.5606 21.2164 47.5071 24.9889 47.5082H24.9983C37.4221 47.5082 47.5354 37.3954 47.5402 24.9664C47.5427 18.9429 45.2001 13.2796 40.9439 9.01896ZM24.9981 43.7013H24.9903C21.6284 43.6999 18.3312 42.7964 15.4542 41.0897L14.7703 40.6834L7.67896 42.5437L9.57174 35.6298L9.1261 34.921C7.25054 31.9378 6.26013 28.4899 6.2618 24.9498C6.26569 14.6196 14.6709 6.21518 25.0056 6.21518C30.01 6.21685 34.7144 8.16822 38.2517 11.7097C41.7891 15.2512 43.736 19.9586 43.7343 24.965C43.7299 35.2961 35.3252 43.7013 24.9981 43.7013ZM35.2752 29.6688C34.7121 29.3867 31.9428 28.0245 31.4264 27.8363C30.9105 27.6483 30.5345 27.5547 30.1594 28.1184C29.7837 28.682 28.7045 29.9509 28.3757 30.3266C28.047 30.7025 27.7188 30.7497 27.1554 30.4676C26.5921 30.1858 24.7773 29.5908 22.6258 27.6719C20.9515 26.1784 19.8212 24.3339 19.4924 23.7703C19.1642 23.2061 19.4896 22.9306 19.7395 22.6208C20.3493 21.8636 20.9598 21.0698 21.1475 20.6941C21.3355 20.3182 21.2414 19.9892 21.1003 19.7073C20.9598 19.4255 19.8334 16.6531 19.3641 15.525C18.9066 14.4271 18.4426 14.5754 18.0966 14.5582C17.7684 14.5418 17.3928 14.5385 17.0171 14.5385C16.6417 14.5385 16.0314 14.6793 15.515 15.2435C14.9988 15.8074 13.5439 17.1698 13.5439 19.9422C13.5439 22.7146 15.5622 25.3929 15.8437 25.7689C16.1253 26.1448 19.8156 31.834 25.4656 34.2735C26.8095 34.8543 27.8585 35.2006 28.6767 35.4602C30.0261 35.8889 31.2537 35.8283 32.2243 35.6834C33.3066 35.5215 35.5565 34.3207 36.0263 33.0051C36.4955 31.6893 36.4955 30.5618 36.3545 30.3266C36.214 30.0917 35.8383 29.9509 35.2752 29.6688Z' fill='%23C49A6C'/%3E%3C/svg%3E%0A");
            }

            &.share-vk::before {
                background: center / cover no-repeat
                    url("data:image/svg+xml,%3Csvg width='55' height='55' viewBox='0 0 55 55' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M45.2672 30.0088C44.3984 28.9116 44.647 28.4234 45.2672 27.4427C45.2784 27.4315 52.4504 17.5211 53.1893 14.1601L53.1938 14.1579C53.561 12.9331 53.1938 12.033 51.4181 12.033H45.5426C44.0469 12.033 43.3572 12.8055 42.9878 13.6698C42.9878 13.6698 39.9963 20.8305 35.7643 25.4723C34.3984 26.8135 33.767 27.2434 33.0214 27.2434C32.6542 27.2434 32.0832 26.8135 32.0832 25.5887V14.1579C32.0832 12.689 31.6645 12.033 30.4262 12.033H21.1875C20.2493 12.033 19.6918 12.7181 19.6918 13.3563C19.6918 14.749 21.8078 15.0692 22.0272 18.9877V27.4897C22.0272 29.3527 21.6891 29.6953 20.939 29.6953C18.9417 29.6953 14.094 22.5054 11.2211 14.2766C10.6412 12.6801 10.0747 12.0352 8.56776 12.0352H2.69003C1.01291 12.0352 0.674805 12.8077 0.674805 13.672C0.674805 15.1991 2.67211 22.792 9.96274 32.8233C14.8217 39.6706 21.6645 43.3809 27.8893 43.3809C31.6309 43.3809 32.0877 42.5569 32.0877 41.1395C32.0877 34.5967 31.7495 33.9787 33.6237 33.9787C34.4925 33.9787 35.9882 34.4087 39.4813 37.7114C43.4737 41.6276 44.1297 43.3809 46.3644 43.3809H52.2399C53.9148 43.3809 54.7634 42.5569 54.2753 40.9313C53.1579 37.5121 45.6076 30.479 45.2672 30.0088Z' fill='%23C49A6C'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='53.7393' height='53.7393' fill='white' transform='translate(0.674805 0.837158)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
            }

            &.share-telegram::before {
                background: center / cover no-repeat
                    url("data:image/svg+xml,%3Csvg width='42' height='43' viewBox='0 0 42 43' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M16.891 27.1999L16.2087 37.0786C17.1849 37.0786 17.6076 36.6469 18.1146 36.1286L22.6911 31.6262L32.1741 38.7751C33.9133 39.7729 35.1386 39.2475 35.6078 37.1281L41.8324 7.10287L41.8341 7.1011C42.3858 4.45452 40.9044 3.4196 39.2099 4.06886L2.62181 18.4888C0.124746 19.4866 0.162554 20.9196 2.19733 21.5688L11.5514 24.5639L33.2792 10.5685C34.3017 9.87152 35.2314 10.2572 34.4667 10.9542L16.891 27.1999Z' fill='%23C49A6C'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='41.2454' height='42.4585' fill='white' transform='translate(0.707031 0.343262)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
            }
        }
    }
}
