.studying {
    margin-bottom: 90px;
    padding-top: 30px;

    @media (max-width: 1336px) {
        margin-bottom: 120px;
    }

    @media (max-width: 1024px) {
        margin-bottom: 30px;
        padding-top: 60px;
    }

    &__button {
        @media (max-width: 992px) {
            margin-bottom: 40px;
        }

        @media (max-width: 575px) {
            display: none;
        }
    }

    &__wrap {
        display: flex;
        justify-content: space-between;

        @media (max-width: 991px) {
            flex-wrap: wrap;
            flex-direction: column;
        }
    }

    &__col {
        &-info {
            width: 45%;

            @media (max-width: 991px) {
                width: 100%;
            }
        }

        &-text {
            width: 55%;
            padding: 45px 60px;
            background-color: #ffffff;

            @media (max-width: 991px) {
                width: 100%;
            }

            @media (max-width: 575px) {
                padding: 35px 20px;
            }
        }
    }

    &__block {
        position: relative;

        @media (max-width: 991px) {
            &:last-child {
                margin-bottom: 30px;
            }
        }

        &:not(:last-child) {
            margin-bottom: 30px;
        }

        &::before {
            z-index: 1;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #041E42;
            content: "";
            pointer-events: none;
        }

        &-info {
            z-index: 2;
            position: relative;
            padding: 57px 40px;

            @media (max-width: 768px) {
                padding: 40px 30px;
            }
        }

        &-img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &-logo {
            width: 100%;
            max-height: 50px;
            margin-bottom: 45px;

            @media (max-width: 575px) {
                margin-bottom: 20px;
            }
        }

        &-text {
            margin-bottom: 45px;
            font-size: 20px;
            line-height: 1.35;
            color: #ffffff;

            @media (max-width: 1024px) {
                font-size: 18px;
            }

            @media (max-width: 768px) {
                font-size: 14px;
            }
        }

        // &-more {
        //     position: relative;
        //     display: block;
        //     margin-left: 37px;
        //     font-size: 18px;
        //     line-height: 18px;
        //     text-decoration: underline;
        //     color: #f9f9f9;

        //     @media (max-width: 768px) {
        //         font-size: 16px;
        //     }

        //     @media (max-width: 575px) {
        //         font-size: 12px;
        //     }

        //     &::before {
        //         position: absolute;
        //         top: 50%;
        //         left: -37px;
        //         width: 20px;
        //         height: 1px;
        //         transform: translateY(-50%);
        //         content: "";
        //         background-color: #f9f9f9;
        //     }

        //     &:hover {
        //         text-decoration: none;
        //     }
        // }
    }

    &__text {
        font-family: "HelveticaNeueCyr";
        font-weight: 300;
        line-height: 1.7;
        color: #3a3a3a;

        ul,
        ol {
            padding-left: 30px;
        }

        p:not(:last-child),
        ul:not(:last-child),
        ol:not(:last-child) {
            margin-bottom: 40px;

            @media (max-width: 768px) {
                margin-bottom: 20px;
                font-size: 14px;
            }

            @media (max-width: 575px) {
                margin-bottom: 20px;
                font-size: 12px;
            }
        }
    }
}
