.studying {
    margin-bottom: 90px;
    padding-top: 30px;

    @media (max-width: 1336px) {
        margin-bottom: 120px;
    }

    @media (max-width: 1024px) {
        margin-bottom: 30px;
        padding-top: 60px;
    }

    &__button {
        @media (max-width: 992px) {
            margin-bottom: 40px;
        }

        @media (max-width: 575px) {
            display: none;
        }
    }

    &__wrap {
        display: flex;
        justify-content: space-between;

        @media (max-width: 768px) {
            flex-wrap: wrap;
            flex-direction: column-reverse;
        }
    }

    &__col {
        width: calc(100% / 2 - 45px);

        @media (max-width: 1024px) {
            width: calc(100% / 2 - 25px);
        }

        @media (max-width: 768px) {
            width: 100%;
        }
    }

    &__block {
        position: relative;
        margin-bottom: 30px;

        &::before {
            z-index: 1;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(4, 30, 66, 0.9);
            mix-blend-mode: normal;
            content: "";
            pointer-events: none;
        }

        &-info {
            z-index: 2;
            position: relative;
            padding: 30px 100px;

            @media (max-width: 1336px) {
                padding: 30px 50px;
            }

            @media (max-width: 768px) {
                padding: 30px 30px;
            }
        }

        &-img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &-logo {
            width: 100%;
            max-height: 75px;
            margin-bottom: 30px;

            @media (max-width: 575px) {
                margin-bottom: 20px;
            }
        }

        &-text {
            width: 100%;
            max-width: 460px;
            margin-bottom: 25px;
            font-size: 20px;
            line-height: 1.4;
            color: #f9eeee;

            @media (max-width: 1024px) {
                font-size: 18px;
            }

            @media (max-width: 768px) {
                font-size: 14px;
            }
        }

        &-more {
            position: relative;
            display: block;
            margin-left: 37px;
            font-size: 18px;
            line-height: 18px;
            text-decoration: underline;
            color: #f9f9f9;

            @media (max-width: 768px) {
                font-size: 16px;
            }

            @media (max-width: 575px) {
                font-size: 12px;
            }

            &::before {
                position: absolute;
                top: 50%;
                left: -37px;
                width: 20px;
                height: 1px;
                transform: translateY(-50%);
                content: "";
                background-color: #f9f9f9;
            }

            &:hover {
                text-decoration: none;
            }
        }
    }

    &__text {
        width: 100%;
        max-width: 700px;
        margin-bottom: 30px;
        font-family: "HelveticaNeueCyr";
        font-weight: 300;
        color: #3a3a3a;
        letter-spacing: -0.015em;

        @media (max-width: 1024px) {
            margin-bottom: 60px;
        }

        @media (max-width: 768px) {
            margin-bottom: 40px;
            font-size: 14px;
        }

        @media (max-width: 575px) {
            margin-bottom: 40px;
            font-size: 12px;
        }

        ul {
            li {
                &:not(:last-child) {
                    margin-bottom: 15px;

                    @media (max-width: 768px) {
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}
