.subscribe {
    margin-bottom: 170px;
    padding: 68px 0 58px;
    background: #f5f5f5;

    @media (max-width: 1024px) {
        margin-bottom: 120px;
    }

    @media (max-width: 768px) {
        margin-bottom: 80px;
        padding: 30px 0 80px;
    }

    &__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__info {
        color: $blue;
        flex-basis: 40%;

        @media (max-width: 1024px) {
            flex-basis: 100%;
        }
    }

    &__title {
        margin-bottom: 30px;
        font-size: 22x;
        font-weight: 550;
        line-height: 28px;

        @media (max-width: 768px) {
            margin-bottom: 15px;
            font-size: 16px;
            font-weight: 550;
            line-height: 1.4;
        }

        @media (max-width: 575px) {
            font-size: 14px;
        }
    }

    &__text {
        font-size: 18px;
        line-height: 24px;

        @media (max-width: 1024px) {
            margin-bottom: 25px;
        }

        @media (max-width: 768px) {
            margin-bottom: 15px;
            font-size: 14px;
            line-height: 1.4;
        }
    }

    &__form {
        flex-basis: 60%;

        @media (max-width: 1024px) {
            flex-basis: 100%;
        }

        &-group {
            width: calc(100% / 3 - 20px);

            @media (max-width: 768px) {
                width: 100%;
                margin-bottom: 15px;

                .form__button {
                    display: block;
                    margin: 0 auto;
                }
            }
        }

        .row-horizontal {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 23px;

            @media (max-width: 768px) {
                flex-wrap: wrap;
            }
        }
    }
}
