.tuition {
    margin-bottom: 240px;

    @media (max-width: 1336px) {
        margin-bottom: 120px;
    }

    &__title {
        margin-bottom: 90px;
        font-size: 48px;
        font-weight: 550;
        line-height: 1.6;
        text-align: center;
        text-transform: uppercase;
        color: #041e42;

        @media (max-width: 1336px) {
            margin-bottom: 60px;
        }

        @media (max-width: 1024px) {
            font-size: 42px;
        }

        @media (max-width: 768px) {
            margin-bottom: 35px;
            font-size: 24px;
            font-weight: 300;
        }

        @media (max-width: 375px) {
            margin-bottom: 25px;
            font-size: 14px;
        }
    }

    &__card {
        height: 400px;
        margin-bottom: 45px;
        background: #ffffff;
        transition: all 0.5s ease-in-out;

        @media (max-width: 1336px) {
            height: 360px;
            margin-bottom: 30px;
        }

        @media (max-width: 1024px) {
            height: 300px;
        }

        &-block {
            height: 100%;
            margin-bottom: 45px;

            @media (max-width: 1336px) {
                margin-bottom: 30px;
            }

            &__wrapper {
                height: 100%;
                padding: 31px 57px 20px;
                background: #ffffff;

                @media (max-width: 1336px) {
                    padding: 30px 40px 35px;
                }
            }

            &__title {
                margin-bottom: 25px;
                font-size: 24px;
                font-weight: 550;
                line-height: 1.8;
                color: #041e42;

                @media (max-width: 1336px) {
                    font-size: 20px;
                }

                @media (max-width: 1024px) {
                    font-size: 18px;
                }
            }

            &__wrap {
                display: flex;
                flex-wrap: wrap;
            }

            &__item {
                display: flex;
                align-items: center;
                width: 50%;

                &:not(:last-child) {
                    margin-bottom: 18px;
                }

                &.w-100 {
                    width: 100%;

                    @media (max-width: 768px) {
                        width: 50%;
                    }

                    @media (max-width: 575px) {
                        width: 100%;
                    }
                }

                &-icon {
                    width: 35px;
                    height: 35px;
                    margin-right: 10px;
                    flex: none;

                    img {
                        width: 100%;
                        height: auto;
                    }
                }

                &-text {
                    padding-right: 10px;
                    font-size: 22px;
                    font-weight: 300;
                    color: #000000;
                    hyphens: auto;

                    @media (max-width: 1336px) {
                        font-size: 18px;
                    }

                    @media (max-width: 768px) {
                        font-size: 16px;
                    }

                    @media (max-width: 575px) {
                        font-size: 12px;
                    }
                }
            }
        }

        &:hover {
            background: #041e42;

            .tuition__card-name,
            .tuition__card-age {
                color: #ffffff;
            }
        }

        &-wrap {
            display: flex;
            justify-content: space-between;
            height: 100%;
            padding: 31px 57px 40px;
            flex-direction: column;

            @media (max-width: 1336px) {
                padding: 30px 40px 35px;
            }
        }

        &-name {
            margin-bottom: 30px;
            font-size: 40px;
            font-weight: 300;
            color: #16345f;

            @media (max-width: 1336px) {
                margin-bottom: 25px;
                font-size: 32px;
            }

            @media (max-width: 1024px) {
                font-size: 24px;
            }
        }

        &-age {
            margin-bottom: 50px;
            font-size: 28px;
            font-weight: 300;
            line-height: 1.5;
            color: #041e42;

            @media (max-width: 1336px) {
                margin-bottom: 30px;
                font-size: 22px;
            }

            @media (max-width: 1024px) {
                font-size: 20px;
            }
        }

        &-cost {
            font-size: 40px;
            font-weight: 300;
            color: #c49a6c;

            @media (max-width: 1336px) {
                font-size: 32px;
            }

            @media (max-width: 1024px) {
                font-size: 28px;
            }
        }

        &-link {
            position: relative;
            display: block;
            margin-left: 37px;
            font-size: 14px;
            line-height: 14px;
            text-decoration: underline;
            color: #c49a6c;

            &::before {
                position: absolute;
                top: 50%;
                left: -37px;
                width: 20px;
                height: 1px;
                transform: translateY(-50%);
                content: "";
                background-color: #c49a6c;
            }

            &:hover {
                text-decoration: none;
            }
        }
    }
}
