.tuition {
    margin-bottom: 130px;

    @media (max-width: 1336px) {
        margin-bottom: 120px;
    }

    @media (max-width: 1024px) {
        margin-bottom: 90px;
    }

    @media (max-width: 768px) {
        margin-bottom: 45px;
    }

    &__card {
        height: 300px;
        margin-bottom: 30px;
        background: $white;
        transition: all 0.5s ease-in-out;

        @media (max-width: 1336px) {
            height: 280px;
        }

        @media (max-width: 1280px) {
            height: 360px;
        }

        @media (max-width: 768px) {
            height: auto;
        }

        &-block {
            height: 100%;
            margin-bottom: 45px;

            @media (max-width: 1336px) {
                margin-bottom: 30px;
            }

            &__wrapper {
                height: 100%;
                padding: 31px 57px 20px;
                background: $white;

                @media (max-width: 1336px) {
                    padding: 30px 40px;
                }

                @media (max-width: 768px) {
                    padding: 30px 30px;
                }
            }

            &__wrap {
                display: flex;
                flex-wrap: wrap;
            }

            &__title {
                margin-bottom: 25px;
                font-size: 18px;
                font-weight: 550;
                color: $blue;
            }



            &__item {
                display: flex;
                align-items: center;
                width: 50%;

                &:not(:last-child) {
                    margin-bottom: 18px;
                }

                &.w-100 {
                    width: 100%;

                    @media (max-width: 768px) {
                        width: 50%;
                    }

                    @media (max-width: 575px) {
                        width: 100%;
                    }
                }

                &-icon {
                    width: 35px;
                    height: 35px;
                    margin-right: 10px;
                    flex: none;

                    @media (max-width: 1200px) {
                        width: 32px;
                        height: 32px;
                    }

                    img {
                        width: 100%;
                        height: auto;
                    }
                }

                &-text {
                    padding-right: 10px;
                    font-family: "HelveticaNeueCyr";
                    font-size: 20px;
                    font-weight: 300;
                    color: $dark-black;
                    hyphens: auto;

                    @media (max-width: 1336px) {
                        font-size: 16px;
                    }

                    @media (max-width: 768px) {
                        font-size: 14px;
                    }

                    @media (max-width: 575px) {
                        font-size: 12px;
                    }
                }
            }
        }

        &:hover {
            background: $blue;

            .tuition__card-name,
            .tuition__card-age {
                color: $white;
            }
        }

        &-wrap {
            display: flex;
            justify-content: space-between;
            height: 100%;
            padding: 30px 35px 40px;
            flex-direction: column;

            @media (max-width: 768px) {
                padding: 30px;
            }
        }

        &-name {
            margin-bottom: 30px;
            font-size: 30px;
            color: #16345f;

            @media (max-width: 1336px) {
                margin-bottom: 25px;
                font-size: 24px;
            }

            @media (max-width: 1024px) {
                font-size: 22px;
            }

            @media (max-width: 768px) {
                font-size: 18px;
            }
        }

        &-age {
            margin-bottom: 30px;
            font-size: 24px;
            line-height: 1.5;
            color: $blue;

            @media (max-width: 1336px) {
                margin-bottom: 25px;
                font-size: 22px;
            }

            @media (max-width: 1024px) {
                font-size: 20px;
            }

            @media (max-width: 768px) {
                margin-bottom: 20px;
                font-size: 18px;
            }
        }

        &-cost {
            margin-bottom: 25px;
            font-size: 30px;
            color: $twine;

            @media (max-width: 1336px) {
                font-size: 28px;
            }

            @media (max-width: 1024px) {
                font-size: 24px;
            }

            @media (max-width: 768px) {
                font-size: 18px;
            }
        }

        // &-link {
        //     position: relative;
        //     display: block;
        //     margin-left: 37px;
        //     font-size: 14px;
        //     line-height: 14px;
        //     text-decoration: underline;
        //     color: $twine;

        //     &::before {
        //         position: absolute;
        //         top: 50%;
        //         left: -37px;
        //         width: 20px;
        //         height: 1px;
        //         transform: translateY(-50%);
        //         content: "";
        //         background-color: $twine;
        //     }

        //     &:hover {
        //         text-decoration: none;
        //     }
        // }
    }
}
