.useful {
    background: linear-gradient(#e5e5e5, #ffffff);

    &__wrap {
        display: flex;
        justify-content: space-between;
        margin-bottom: 80px;
        flex-wrap: wrap;
    }

    &__desktop {
        display: none;

        @media (min-width: 768.1px) {
            display: flex;
        }
    }

    &__mobile {
        display: none;

        @media (max-width: 768px) {
            display: block;
        }

        .swiper-slide {
            width: 100%;
            opacity: 0.5;

            .useful__item-info,
            .useful__item-link {
                display: none;
            }
        }

        .swiper-slide-active {
            opacity: 1;

            .useful__item-info,
            .useful__item-link {
                display: block;
            }
        }
    }

    &__item {
        height: 100%;

        @media (max-width: 992px) {
            margin-bottom: 60px;
        }

        @media (max-width: 768px) {
            width: 100%;
            max-width: 390px;
            margin-bottom: 0;
        }

        &-img {
            margin-bottom: 30px;

            img {
                width: 100%;
                height: auto;
            }
        }

        &-wrap {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
        }

        &__info {
            margin-bottom: 20px;
        }

        &-title {
            display: block;
            min-height: 50px;
            margin-bottom: 38px;
            font-weight: 500;
            line-height: 1.2;
            // text-decoration: underline;
            color: $dark-black;

            @media (max-width: 768px) {
                min-height: 65px;
                margin-bottom: 15px;
                font-size: 16px;
                line-height: 1.7;
            }

            @media (max-width: 575px) {
                font-size: 14px;
            }
        }

        &-date {
            margin-bottom: 13px;
            font-size: 14px;
            line-height: 1.6;
            color: rgba(0, 0, 0, 0.8);

            @media (max-width: 768px) {
                font-size: 14px;
            }

            @media (max-width: 575px) {
                font-size: 12px;
            }
        }

        &-text {
            min-height: 230px;
            margin-bottom: 25px;
            font-size: 16px;
            line-height: 1.4;
            color: $dark-black;

            @media (max-width: 768px) {
                min-height: auto;
                margin-bottom: 30px;
                font-size: 14px;
            }

            @media (max-width: 575px) {
                font-size: 12px;
            }
        }

        &-link {
            position: relative;
            display: block;
            margin-left: 37px;
            font-size: 14px;
            line-height: 14px;
            text-decoration: underline;
            color: $dark-black;

            @media (max-width: 575px) {
                font-size: 12px;
            }

            &::before {
                position: absolute;
                top: 50%;
                left: -37px;
                width: 20px;
                height: 1px;
                transform: translateY(-50%);
                content: "";
                background-color: #101010;
            }

            &:hover {
                text-decoration: none;
            }
        }
    }

    &__more {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
