.welcome {
    position: relative;

    &::after {
        z-index: 1;
        position: absolute;
        top: 50%;
        right: 0;
        width: 1266px;
        height: 648px;
        transform: translateY(-50%);
        background-size: contain;
        background-image: url("../img/about/bg.png");
        content: "";
        pointer-events: none;
    }

    &__wrap {
        display: flex;
        justify-content: space-between;

        @media (max-width: 768px) {
            flex-wrap: wrap;
        }
    }

    &__title {
        z-index: 2;
        position: relative;
        margin-bottom: 100px;
        font-size: 48px;
        font-weight: 550;
        text-align: center;
        text-transform: uppercase;
        color: #041e42;
    }

    &__photo {
        z-index: 2;
        position: relative;
        width: 25%;
    }

    &__info {
        z-index: 2;
        position: relative;
        display: flex;
        align-items: center;
        width: 75%;

        &-block {
            max-width: 745px;
            margin-left: 170px;
        }
    }

    &__text {
        width: 100%;
        max-width: 840px;
        margin-bottom: 65px;
        font-size: 26px;
        font-weight: 300;
        line-height: 1.4;
        color: #3a3a3a;
    }

    &__name {
        margin-bottom: 10px;
        font-size: 24px;
        font-weight: 600;
        line-height: 1.45;
    }

    &__founder {
        margin-bottom: 10px;
        font-size: 24px;
        line-height: 1.45;
    }

    &__campus {
        margin-bottom: 30px;
        font-size: 24px;
        line-height: 1.45;
    }

    &__signature {
        margin-bottom: 70px;

        img {
            width: auto;
            height: 100%;
            max-height: 75px;
        }
    }

    &__btn {
        width: 280px;
        font-weight: 400;
    }
}
