+b#block-01.SECTION.universal.text-center
  .container
    .row
      .col-12
        +e.H2.title Лидеры будущего
        +e.text
          p Словом «лидеры» мы называем людей, обладающих определенным набором навыков: знаниями и компетенциями, получаемыми в результате обучения и нарабатываемые опытом, способностью мотивировать окружающих учиться, совершенствоваться и действовать. Настоящий лидер называет себя таковым только тогда, когда заслужил доверие окружающих, и другие признают его лидерскую позицию.
          p
            b Лидеры не узнают свое место в мире — они его создают сами!

+b#block-02.SECTION.universal.text-center
  .container
    .row
      .col-12
        +e.H2.title Изменить мир
        +e.text
          p Изменения в мире — это процесс создания реальных ценностей для общества. Важно сначала создавать ценности, а уже потом рассказывать о них. Добиться положительных изменений можно будучи учеником, учителем, родителем, активным гражданином своего сообщества. На самом деле, что отличает Heritage School, так это то, что наши ученики и сотрудники демонстрируют, развивают и распространяют лидерские навыки во всем, что мы делаем.

+b#block-03.SECTION.universal.text-center
  .container
    .row
      .col-12
        +e.H2.title Сделать мир лучше
        +e.text
          p ы понимаем, что мир постоянно меняется и в мире существует ряд важных вопросов, требующих взгляд с глобальной позиции. Чтобы решить все возникающие проблемы и задачи миру необходимы лидеры с мышлением роста
          p Именно поэтому, наша первая и главная цель — создавать лидеров. Достигаем мы ее различными способами: выстраивая образовательный процесс. концентрируясь на ценностях в процессе обучения и так далее.
