+b.about-block.section
  +e.wrap
    .container
      .row
        .col-12
          h2.section__title(data-aos="fade-up" data-aos-duration="1000") О кампусе
          .section__introtext(data-aos="fade-up" data-aos-delay="1000" data-aos-duration="2500")
            p Кампус Сокольники – это комфортная международная англоязычная среда, где дети от 2 лет получают дошкольное и школьное образование мирового уровня.
            p Кампус Сокольники находится в районе набережной реки Яузы и парка Сокольники. Новое современное здание оснащено передовым оборудованием и экологичной европейской мебелью.
