+b.gallery
  +e.wrap
    .gallery-slider.swiper-container
      .swiper-wrapper
        .swiper-slide
          .gallery__item
            img(src="img/gallery/item.jpg", alt="")
        .swiper-slide
          .gallery__item
            img(src="img/gallery/item.jpg", alt="")
        .swiper-slide
          .gallery__item
            img(src="img/gallery/item.jpg", alt="")
        .swiper-slide
          .gallery__item
            img(src="img/gallery/item.jpg", alt="")
      +e.pagination
        .swiper-pagination-nav
          .swiper-pagination-num
          .swiper-pagination.swiper-pagination-gallery
          .swiper-pagination-total
