+b.gallery-block
  .container
    .row
      .col-12
        +e.wrap
          +e.item
            +e.IMG(src="img/gallery-campus/01.jpg" alt="01")
          +e.item
            +e.IMG(src="img/gallery-campus/02.jpg" alt="01")
          +e.item
            +e.IMG(src="img/gallery-campus/03.jpg" alt="01")
          +e.item
            +e.IMG(src="img/gallery-campus/04.jpg" alt="01")
          +e.item
            +e.IMG(src="img/gallery-campus/05.jpg" alt="01")
          +e.item
            +e.IMG(src="img/gallery-campus/04.jpg" alt="01")
