+b.teacher-bottom-block
  .container
    .row
      .col-12
        +e.H2.title «Excellence is for all»
        +e.text
          p I believe that building relationships is key to achieving positive learning outcomes. I consider myself a caring and sensitive individual, always prioritising the wellbeing of students at all times. In 2016, I was accepted onto the mindfulness Scotland teacher training programme in Glasgow, where I spent a year achieving my accreditation as a mindfulness teacher. This progression stemmed from the need to support students experiencing stress and anxiety. Since then, I have continued to work with children, young people and families by offering support during exam times in the form of small group sessions, workshops and school assemblies.
          p 2 years ago, after both my grown up children moved out of our family home, I decided to fulfil my dream of living and working abroad. I quit my job in Scotland and took up residency in China where I worked in an international school, teaching ESL to primary students outside Shanghai. I decided to put my mindfulness teaching into practice by starting each class with a short mindfulness session and found that the younger students not only enjoyed these sessions, but also showed improvement with focus and engagement. I am therefore excited to continue honing my practice with students by introducing a daily practice to their day.
          p Although this will be my first time in Moscow, or even Russia, I am looking forward to being part of the Heritage school family and to meeting everyone in person. I am also really excited to embrace the culture, history, food and adventure of your country.
        +b.hobby
          +e.H3.title Хобби
          +e.list
            +e.item
              +e.item-img
                img(src="img/hobby/hiking.png", alt="")
              +e.item-title Hiking
            +e.item
              +e.item-img
                img(src="img/hobby/joga.png", alt="")
              +e.item-title Joga
            +e.item
              +e.item-img
                img(src="img/hobby/craft.png", alt="")
              +e.item-title Craft
