+b.teacher-content
  .container
    .row
      .col-12
        +e.text
          p I am a Scottish lassie (female) from Falkirk, in Scotland. Prior to teaching, I spent a number of years in industry. This included running my own furniture restoration business, later working as a detached youth worker, working with many homeless and challenging young people on the streets.
          p As a mature student, I returned to higher education, and began my teaching career as a secondary school teacher of design and technology (STEM) 11 years ago. After teaching my subject for 3 years, my desire to adopt a more pastoral role came into fruition when I took the time to study evenings and weekends at Strathclyde university in Glasgow (glutton for punishment!!) … graduating as a teacher of additional support needs (special education needs). For the next 6 years, I worked within the additional support needs department and autism spectrum disorder department, supporting students to remove any barriers to their learning. This included cross-curricular topics, engaging in gardening, sports championships, working within the local community and enterprising projects across the whole school.
