+b.teacher-info
  .container
    .row
      .col-12.col-sm-5
        +e.photo
          img(src="img/teacher/photo.jpg", alt="")
      .col-12.col-sm-7
        +e.info
          +e.H1.title Mandy
          +e.position Primary Teacher
          +e.experience Year 2
          +e.education
            +e.education-title Образование
            +e.UL.education-text
              li University of Glasgow — Teacher of technological education
              li University of Strathclyde — Teacher of additional support needs
