+b.teacher-qualifications
  .container
    .row
      .col-12
        +e.H2.title Квалификации
        +e.UL.list
          li Postgraduate diploma – Inclusive education
          li Mindfulness Scotland – Teacher development programme
          li Open University - Introduction to the autism spectrum
          li The management of actual or potential aggression at mapa training – certificated
          li TEFL certification
