+b.bottom-block.bottom-block--gray
  .container
    h2.section__title Порядок оплаты
    .row
      .col-12.col-md-7
        +e.text
          p Оплата производится тремя платежами:
          p 40% — в течение 5 календарных дней после подписания договора;
            br
            | 30% — до 30.11.2021 г.;
            br
            | 30% — до 28.02.2022 г.
          p Скидка 5% при оплате одного года обучения разовым платежом (Lump Sum). При единоразовой оплате двух и более лет обучения предоставляются дополнительные скидки.
          p Вступительный взнос оплачивается однократно при поступлении и не подлежит возврату.
      .col-12.col-md-5 Тут будет форма
