+b.teachers-list.section
  .container
    .row
      .col-12
        +e.nav(data-aos="fade-up" data-aos-delay="1000" data-aos-duration="2500")
          +e.A.nav-item(href="#") Academic Team
          +e.A.nav-prev
          +e.A.nav-item.active(href="#") Senior Leadership Team
          +e.A.nav-item(href="#") Operations Team
          +e.A.nav-next

  .container-fluid.teachers-list__wrapper
    .row
      .col-12
        +e.wrap
          .container
            .row
              +teacher-card({
                image : "teachers/img-01.jpg",
                title: "Beverley Sandy",
                position: "Primary Teacher University of Cambridge",
              })
              +teacher-card({
                image : "teachers/img-02.jpg",
                title: "Beverley Sandy",
                position: "Primary Teacher University of Cambridge",
              })
              +teacher-card({
                image : "teachers/img-03.jpg",
                title: "Beverley Sandy",
                position: "Primary Teacher University of Cambridge",
              })
              +teacher-card({
                image : "teachers/img-04.jpg",
                title: "Beverley Sandy",
                position: "Primary Teacher University of Cambridge",
              })
              +teacher-card({
                image : "teachers/img-05.jpg",
                title: "Beverley Sandy",
                position: "Primary Teacher University of Cambridge",
              })
              +teacher-card({
                image : "teachers/img-06.jpg",
                title: "Beverley Sandy",
                position: "Primary Teacher University of Cambridge",
              })
              +teacher-card({
                image : "teachers/img-07.jpg",
                title: "Beverley Sandy",
                position: "Primary Teacher University of Cambridge",
              })
              +teacher-card({
                image : "teachers/img-08.jpg",
                title: "Beverley Sandy",
                position: "Primary Teacher University of Cambridge",
              })
              +teacher-card({
                image : "teachers/img-09.jpg",
                title: "Beverley Sandy",
                position: "Primary Teacher University of Cambridge",
              })
