+b.teachers-list.section
  +e.nav
    .container
      .row
        .col-12
  +e.wrap
    .container
      .row
        +teacher-card({
          image : "teachers/img-01.jpg",
          title: "Beverley Sandy",
          position: "Primary Teacher University of Cambridge",
        })
        +teacher-card({
          image : "teachers/img-02.jpg",
          title: "Beverley Sandy",
          position: "Primary Teacher University of Cambridge",
        })
        +teacher-card({
          image : "teachers/img-03.jpg",
          title: "Beverley Sandy",
          position: "Primary Teacher University of Cambridge",
        })
        +teacher-card({
          image : "teachers/img-04.jpg",
          title: "Beverley Sandy",
          position: "Primary Teacher University of Cambridge",
        })
        +teacher-card({
          image : "teachers/img-05.jpg",
          title: "Beverley Sandy",
          position: "Primary Teacher University of Cambridge",
        })
        +teacher-card({
          image : "teachers/img-06.jpg",
          title: "Beverley Sandy",
          position: "Primary Teacher University of Cambridge",
        })
        +teacher-card({
          image : "teachers/img-07.jpg",
          title: "Beverley Sandy",
          position: "Primary Teacher University of Cambridge",
        })
        +teacher-card({
          image : "teachers/img-08.jpg",
          title: "Beverley Sandy",
          position: "Primary Teacher University of Cambridge",
        })
        +teacher-card({
          image : "teachers/img-09.jpg",
          title: "Beverley Sandy",
          position: "Primary Teacher University of Cambridge",
        })
