.price-block{
    &__tab {
        &-links {
            display: flex;
            justify-content: space-between;
        }

        &-link {
            display: block;
            width: calc(100% / 3 - 15px);
            padding: 20px 40px;
            text-align: center;
            color: white;
            background-color: red;
        }

        &-content {
            display: none;

            &.active {
                display: block;
            }
        }
    }
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
