+b.about-campus
  .container
    +e.H2.title About Us
    +e.text
      p Sokolniki campus offers a supportive international environment and world-class education and care for children from 2 years old in Moscow.
      p The school is located near the center of Moscow, by the Yauza River embankment and Sokolniki Park. The new modern building is equipped with the finest learning materials and specialised European furniture.


