+b.about.section
  .container
    +e.wrap
      +e.photo
        img(src="./img/about/photo.jpg", alt="")
      +e.info
        +e.info-block
          +e.text «Heritage School is a place where we create an atmosphere, which inspires children to explore the world, make friends, be active and care.»‎
          +e.name Ildar Nafikov
          +e.founder Heritage School Founder
          +e.A.btn.btn(href="#") To Founder's page
