+b.SECTION.admissions.section
  +e.wrapper
    +e.content
      .container
        +e.info
          h2.section__title(data-aos="fade-up" data-aos-duration="2000") Как поступить в школу
          +e.text(data-aos="fade-up" data-aos-delay="1000" data-aos-duration="2000")
            p Heritage International School — это комфортная международная англоязычная среда. Дети с 2 лет получают дошкольное и школьное образование мирового уровня.
            p Мы хотим дать детям как можно больше возможностей для их будущего. Поэтому обучение ведется по британской (кембриджской) программе на английском языке иностранными педагогами и по российской программе на русском языке.
          a.btn(data-aos="fade-up" data-aos-delay="1500"  data-aos-duration="2000" href="#") Читать далее

    +e.image
      +e.bg(style="background-image: url('img/admissions/bg4.jpg')" data-aos="fade-right" data-aos-delay="2200" data-aos-duration="2000")
