+b.SECTION.admissions.section
  +e.wrapper
    +e.col
      +e.info
        .container
          h2.section__title HOW TO ENTER HERITAGE SCHOOL
          +e.text
            p Heritage School offers a supportive international environment and world-class education and care for children from 2 years old in Moscow.
            p We offer children more opportunities for their future. Thus we provide British (Cambridge) Curriculum by international teachers and Russian Curriculum.
            p Heritage School graduates get two diplomas — Cambridge and Russian — so they can any university in the world.
          +e.A.link(href="#") Learn more about Admissions

    +e.col
      +e.bg(style="background-image: url('../img/admissions/bg.jpg')")
