+b.SECTION.campuses.section
  .container
    h2.section__title(data-aos="fade-up" data-aos-duration="3000") Кампусы
  +e.wrapper
    +campuses-card({
      image : "campuses/image01.jpg",
      city : "Москва",
      title: "Кампус Сокольники",
      aos: "fade-up",
      duration: "2000",
      delay: "1000"
    })
    +campuses-card({
      image : "campuses/image02.jpg",
      city : "Москва",
      title: "Кампус Ленинский",
      aos: "fade-up",
      duration: "2000",
      delay: "1500"
    })
    +campuses-card({
      image : "campuses/image03.jpg",
      city : "Тюмень",
      title: "Кампус Тюмень",
      aos: "fade-up",
      duration: "2000",
      delay: "2000"
    })

  +e.line(data-aos="fade-bottom" data-aos-delay="1000" data-aos-duration="2000")
