+b.SECTION.campuses.section
  .container
    h2.section__title Кампусы
  +e.wrapper
    +campuses-card({
      image : "campuses/image01.jpg",
      city : "Москва",
      title: "Кампус Сокольники",
    })
    +campuses-card({
      image : "campuses/image02.jpg",
      city : "Москва",
      title: "Кампус Ленинский",
    })
    +campuses-card({
      image : "campuses/image03.jpg",
      city : "Тюмень",
      title: "Кампус Тюмень",
    })
