+b.contact-campus.section
  .container
    +e.headline
      +e.H2.title Контакты
      //- +e.H3.name Кампус Сокольники
    +e.wrap
      +e.col-info
        +e.info
          +e.info-item
            +e.info-item__icon
              img(src="img/contact/phone.svg", alt="")
            +e.info-item__text
              a(href="tel:+74995830247") +7 (499) 583 02 47
              | (по вопросам поступления)

          +e.info-item
            +e.info-item__icon
              img(src="img/contact/mail.svg", alt="")
            +e.info-item__text
              | Учёба в Heritage
              a(href="mailto:study@heritageschool.ru")  study@heritageschool.ru

          +e.info-item
            +e.info-item__icon
              img(src="img/contact/marker.svg", alt="")
            +e.info-item__text
              | ул. Краснобогатырская, д. 90, стр. 3
              |
              | (метро «Преображенская Площадь»)

          +e.A.download.btn(href="#" download) Скачать схему проезда

        +e.map
          script(type='text/javascript' charset='utf-8' async='' src='https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A8affcf208390a7e2b607645f8709b2f7a44174ed2eaefad32614a7d176b2c367&height=352&lang=ru_RU&scroll=true')

      +e.col-form
        +e.form Тут будет форма
