+b.contacts
  .container
    +e.headline
      +e.H2.title CONTACTS
      +e.title-campus Sokolniki Campus
    +e.wrap
      +e.col
        +e.info
          +e.info-item
            +e.info-item__icon
              img(src="img/contact/phone.svg", alt="")
            +e.info-item__text
              span
                a(href="tel:+74995830247") +7 (499) 583 02 47
              span (по вопросам поступления)

          +e.info-item
            +e.info-item__icon
              img(src="img/contact/mail.svg", alt="")
            +e.info-item__text
              span Учёба в Heritage
              span
                a(href="mailto:study@heritageschool.ru")  study@heritageschool.ru

          +e.info-item
            +e.info-item__icon
              img(src="img/contact/marker.svg", alt="")
            +e.info-item__text
              span ул. Краснобогатырская, д. 90, стр. 3
              span (метро «Преображенская Площадь»)

          +e.A.download(href="#" download) Скачать схему проезда

        +e.map
          iframe(src="", frameborder="0")

      +e.col
        +e.form 1
