+b.SECTION.environment.environment-center.section
  .container
    h2.section__title(data-aos="fade-up" data-aos-duration="1000") Программа обучения
    .section__introtext(data-aos="fade-up" data-aos-delay="1000" data-aos-duration="2500")
      p В школе Heritage мы хотим, чтобы наши дети были самостоятельными, активными учениками, познавали новое через игру, развивали критическое мышление, и имели видение того, к чему нужно стремиться.  Процесс обучения не ограничивается стенами школы, активности на свежем воздухе также способствуют их развитию.  Дети могут участвовать в играх, которые инициируют сами между собой либо под руководством взрослых, а также выполняют задания учителя.  Наблюдая за процессом, педагоги могут выстраивать активности в соответствии с возможностями ребенка, и готовить его к дальнейшему развитию.
      p Дети учатся по семи направлениям:

    +e.wrap(data-aos="fade-up" data-aos-delay="1000" data-aos-duration="2500")
      .row
        +environment-card-col-6({
          icon : "environment/communications.svg",
          title: "Коммуникации и язык"
        })
        +environment-card-col-6({
          icon : "environment/personality.svg",
          title: "Личностное развитие"
        })
        +environment-card-col-6({
          icon : "environment/woman.svg",
          title: "Физическое развитие"
        })
        +environment-card-col-6({
          icon : "environment/literacy.svg",
          title: "Грамотность"
        })
        +environment-card-col-6({
          icon : "environment/mathematics.svg",
          title: "Математика"
        })
        +environment-card-col-6({
          icon : "environment/graphic-tool.svg",
          title: "Изобразительное искусство"
        })
        +environment-card-col-6({
          icon : "environment/idea.svg",
          title: "Понимание мира"
        })
