+b.SECTION.environment.section
  .container
    h2.section__title EDUCATIONAL environment
    .section__introtext
      p Heritage School offers a supportive international environment and world-class education and care for children from 2 years old in Moscow.
      p We offer children more opportunities for their future. Thus we provide British (Cambridge) Curriculum by international teachers and Russian Curriculum.
    .row
      +environment-card({
        icon : "environment/classroom.svg",
        title: "Spacious and bright classrooms"
      })
      +environment-card({
        icon : "environment/bed.svg",
        title: "Bedrooms for children from 3 to 5 years old"
      })
      +environment-card({
        icon : "environment/parking.svg",
        title: "Guest parking for parents"
      })
      +environment-card({
        icon : "environment/desk.svg",
        title: "Ergonomic and sustainable furniture"
      })
      +environment-card({
        icon : "environment/comfortable.svg",
        title: "Comfortable seating areas"
      })
      +environment-card({
        icon : "environment/security-camera.svg",
        title: "Closed guarded territory and 24h video system"
      })
      +environment-card({
        icon : "environment/touchscreen.svg",
        title: "Touchscreen display boards"
      })
      +environment-card({
        icon : "environment/park.svg",
        title: "Walking areas with green spaces"
      })
      +environment-card({
        icon : "environment/playground.svg",
        title: "Safe game complexes from the Finnish manufacturer Lappset"
      })
      +environment-card({
        icon : "environment/apple.svg",
        title: "Personal Apple iPads for each student Year 1 — Year 9"
      })
      +environment-card({
        icon : "environment/restaurant.svg",
        title: "Five balanced meals a day"
      })
      +environment-card({
        icon : "environment/soccer-ball.svg",
        title: "Football pitch with running tracks"
      })
      +environment-card({
        icon : "environment/paint-palette-and-brush.svg",
        title: "Studio for painting and applied arts"
      })
      +environment-card({
        icon : "environment/chef.svg",
        title: "Kitchen and chef in the house"
      })
      +environment-card({
        icon : "environment/dumbbell.svg",
        title: "Sports and assembly hall"
      })
      +environment-card({
        icon : "environment/psychologist.svg",
        title: "Psychologist and speech therapist"
      })
      +environment-card({
        icon : "environment/book.svg",
        title: "Library"
      })
      +environment-card({
        icon : "environment/doctor.svg",
        title: "School doctor"
      })
