section.information.section
  .container
    h2.section__title Official documents and information
  .information__wrap
    .information__block
      .container
        .information__body
          p Heritage School offers a supportive international environment and world-class education and care for children from 2 years old in Moscow.
          p We offer children more opportunities for their future. Thus we provide British (Cambridge) Curriculum by international teachers and Russian Curriculum.
          a.btn(href="#") Official documents
    .information__photo
      img(src="img/information/image.jpg", alt="")
