+b.SECTION.instagram.section
  +e.wrap(data-aos="fade-up" data-aos-duration="2000")
    +e.A.hashtag(href="#") #heritageschool
    +e.socials
      +e.socials-title Подписывайтесь на нас
      +e.socials-wrap
        +e.A.socials-item.ic-whatsapp(href="#" target="_blank" rel="noopener")
        +e.A.socials-item.ic-telegram(href="#" target="_blank" rel="noopener")
        +e.A.socials-item.ic-instagram(href="#" target="_blank" rel="noopener")
        +e.A.socials-item.ic-facebook(href="#" target="_blank" rel="noopener")
  +e.grid(data-aos="fade-up" data-aos-delay="1000" data-aos-duration="2500")
    +e.A.grid-item
      img(src="img/instagram/image01.jpg", alt="")
      +e.grid-item__caption
        +e.grid-item__text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium animi nulla minus totam cum molestiae aperiam omnis natus, odio, voluptatibus laborum, similique dolor at velit!
    +e.A.grid-item
      img(src="img/instagram/image02.jpg", alt="")
    +e.A.grid-item
      img(src="img/instagram/image01.jpg", alt="")
    +e.A.grid-item
      img(src="img/instagram/image02.jpg", alt="")
    +e.A.grid-item
      img(src="img/instagram/image01.jpg", alt="")
    +e.A.grid-item
      img(src="img/instagram/image02.jpg", alt="")
    +e.A.grid-item
      img(src="img/instagram/image01.jpg", alt="")
    +e.A.grid-item
      img(src="img/instagram/image02.jpg", alt="")
    +e.A.grid-item
      img(src="img/instagram/image01.jpg", alt="")
    +e.A.grid-item
      img(src="img/instagram/image01.jpg", alt="")
    +e.A.grid-item
      img(src="img/instagram/image02.jpg", alt="")
    +e.A.grid-item
      img(src="img/instagram/image01.jpg", alt="")
