+b.home-slider
  .swiper-container
    .swiper-wrapper
      .swiper-slide
        +e.item(style="background-image: url('./img/campus/banner.jpg')")
      .swiper-slide
        +e.item(style="background-image: url('./img/campus/banner.jpg')")
      .swiper-slide
        +e.item(style="background-image: url('./img/campus/banner.jpg')")

    +e.nav-wrap
      .container
        +e.pagination
          .swiper-pagination-nav
            .swiper-pagination-num 01
            .swiper-pagination.swiper-pagination-main
            .swiper-pagination-total 03
