+b.home-slider
  .swiper-container
    .swiper-wrapper
      .swiper-slide
        +e.item
          +e.item-img(src="./img/slider/01.jpg" alt="01")
          .container
            .row
              .col-12
                +e.item-wrap
                  +e.item-logo._dark
                    img.logo-light(src="./img/slider/cambridge-international-school.svg", alt="")
                    img.logo-dark(src="./img/slider/cambridge-international-school-dark.png", alt="")
                  +e.item-info
                    +e.item-text Кампус Сокольники
                    +e.A.item-btn.btn(href="#") Читать далее
      .swiper-slide
        +e.item
          +e.item-img(src="./img/slider/01.jpg" alt="01")
          .container
            .row
              .col-12
                +e.item-wrap
                  +e.item-logo._dark
                    img.logo-light(src="./img/slider/cambridge-international-school.svg", alt="")
                    img.logo-dark(src="./img/slider/cambridge-international-school-dark.png", alt="")
                  +e.item-info
                    +e.item-text Кампус Сокольники
                    +e.A.item-btn.btn(href="#") Читать далее

  +e.button-wrap
    .swiper-button-prev
    .swiper-button-next
  +e.line
