+b.home-slider
  .swiper-container
    .swiper-wrapper
      .swiper-slide
        +e.item
          +e.item-img(src="./img/slider/01.jpg" alt="01")
          .container
            .row
              .col-12
                +e.item-wrap
                  +e.item-logo
                    img.logo-light(src="./img/slider/cambridge-international-school.svg", alt="")
                    img.logo-dark(src="./img/slider/cambridge-international-school-dark.png", alt="")
                  +e.item-info
                    +e.item-text Secondary School
                    +e.A.item-btn.btn(href="#") Read more
      .swiper-slide
        +e.item
          +e.item-img(src="./img/slider/01.jpg" alt="01")
          .container
            .row
              .col-12
                +e.item-wrap
                  +e.item-logo._right._dark
                    img.logo-light(src="./img/slider/cambridge-international-school.svg", alt="")
                    img.logo-dark(src="./img/slider/cambridge-international-school-dark.png", alt="")
                  +e.item-info
                    +e.item-text Secondary School
                    +e.A.item-btn.btn(href="#") Read more
      .swiper-slide
        +e.item
          +e.item-img(src="./img/slider/01.jpg" alt="01")
          .container
            .row
              .col-12
                +e.item-wrap
                  +e.item-logo
                  +e.item-info
                    +e.item-text Secondary School
                    +e.A.item-btn.btn(href="#") Read more

  +e.button-wrap
    .swiper-button-prev
    .swiper-button-next
    //- +e.nav-wrap
    //-   .container
        //- +e.pagination
        //-   .swiper-pagination-nav
        //-     .swiper-pagination-num
        //-     .swiper-pagination.swiper-pagination-main
        //-     .swiper-pagination-total
