+b.SECTION.offer.section
  .container
    h2.section__title We offer
    .section__introtext
      p We want our graduates to become the best in the whole world.
      p We can’t wait to see them entering the adult world, to pridely follow their success
    .row.stretch
      +offer-card({
        icon : "01.svg",
        iconwhite : "01-w.svg",
        title: "Integrated Cambridge and Russian program",
        text: "The teachers of the Cambridge program are qualified native English teachers who have passed a special selection and came to us from the UK."
      })
      +offer-card({
        icon : "02.svg",
        iconwhite : "02-w.svg",
        title: "2 certificates: international and Russian",
        text: "The teachers of the Cambridge program are qualified native English teachers who have passed a special selection and came to us from the UK."
      })
      +offer-card({
        icon : "03.svg",
        iconwhite : "03-w.svg",
        title: "Support service for children and parents",
        text: "The teachers of the Cambridge program are qualified native English teachers who have passed a special selection and came to us from the UK."
      })
      +offer-card({
        icon : "04.svg",
        iconwhite : "04-w.svg",
        title: "Bilingual environment",
        text: "The teachers of the Cambridge program are qualified native English teachers who have passed a special selection and came to us from the UK."
      })
      +offer-card({
        icon : "05.svg",
        iconwhite : "05-w.svg",
        title: "Integrated Cambridge and Russian program",
        text: "The teachers of the Cambridge program are qualified native English teachers who have passed a special selection and came to us from the UK."
      })
      +offer-card({
        icon : "06.svg",
        iconwhite : "06-w.svg",
        title: "Multiculturalism",
        text: "The teachers of the Cambridge program are qualified native English teachers who have passed a special selection and came to us from the UK."
      })
      +offer-card({
        icon : "07.svg",
        iconwhite : "07-w.svg",
        title: "For children from 2 to 18 years old",
        text: "The teachers of the Cambridge program are qualified native English teachers who have passed a special selection and came to us from the UK."
      })
      +offer-card({
        icon : "08.svg",
        iconwhite : "08-w.svg",
        title: "Modern infrastructure",
        text: "The teachers of the Cambridge program are qualified native English teachers who have passed a special selection and came to us from the UK."
      })
      +offer-card({
        icon : "09.svg",
        title: "Safe area",
        iconwhite : "09-w.svg",
        text: "The teachers of the Cambridge program are qualified native English teachers who have passed a special selection and came to us from the UK."
      })
      +offer-card({
        icon : "10.svg",
        iconwhite : "10-w.svg",
        title: "More than 50 clubs",
        text: "The teachers of the Cambridge program are qualified native English teachers who have passed a special selection and came to us from the UK."
      })
      +offer-card({
        icon : "11.svg",
        iconwhite : "11-w.svg",
        title: "Five meals a day",
        text: "The teachers of the Cambridge program are qualified native English teachers who have passed a special selection and came to us from the UK."
      })
      +offer-card({
        icon : "12.svg",
        iconwhite : "12-w.svg",
        title: "School day from 8:00 to 19:00",
        text: "The teachers of the Cambridge program are qualified native English teachers who have passed a special selection and came to us from the UK."
      })
