+b.SECTION.posts.section
  +e.wrapper
    +post-card({
      image : "posts/image01.jpg",
      title: "Мр Мэтью, директор школы, передает вам свое послание",
      text: "Кембриджский университет – топовый университет Великобритании и один из престижнейших вузов мира. ",
    })
    +post-card({
      image : "posts/image02.jpg",
      title: "Мр Мэтью, директор школы, передает вам свое послание",
      text: "Кембриджский университет – топовый университет Великобритании и один из престижнейших вузов мира. ",
      delay: "500"
    })
    +post-card({
      image : "posts/image03.jpg",
      title: "Мр Мэтью, директор школы, передает вам свое послание",
      text: "Кембриджский университет – топовый университет Великобритании и один из престижнейших вузов мира. ",
      delay: "1000"
    })
  +e.line(data-aos="fade-bottom" data-aos-delay="1000" data-aos-duration="1500")
