+b.SECTION.quote-block.section.slide
  .container
    .row
      .col-12
        +e.text(data-aos="fade-up" data-aos-duration="3000") If a child cannot learn in the way we teach we must teach in a way the child can learn
