+b.SECTION.feedback.section
  .container
    +e.H2.title SCHOOL FEEDBACK
  +e.wrap
    .feedback-slider.swiper-container
      .swiper-wrapper
        +feedback-card({
          photo: "01.jpg",
          name: "Alex Gudkov",
          student: "Parent of Year 3 Student",
          campus: "Sokolniki Campus",
          text: 'Alex is very excited about school lessons. He began to speak English at home. Thank you very much for his interest in classes and English. It was a great decision to choose Heritage school. I am very grateful to you as his teacher',
          link: ""
        })
        +feedback-card({
          photo: "01.jpg",
          name: "Alex Gudkov",
          student: "Parent of Year 3 Student",
          campus: "Sokolniki Campus",
          text: 'Alex is very excited about school lessons. He began to speak English at home. Thank you very much for his interest in classes and English. It was a great decision to choose Heritage school. I am very grateful to you as his teacher',
          link: ""
        })
        +feedback-card({
          photo: "01.jpg",
          name: "Alex Gudkov",
          student: "Parent of Year 3 Student",
          campus: "Sokolniki Campus",
          text: 'Alex is very excited about school lessons. He began to speak English at home. Thank you very much for his interest in classes and English. It was a great decision to choose Heritage school. I am very grateful to you as his teacher',
          link: ""
        })
        +feedback-card({
          photo: "01.jpg",
          name: "Alex Gudkov",
          student: "Parent of Year 3 Student",
          campus: "Sokolniki Campus",
          text: 'Alex is very excited about school lessons. He began to speak English at home. Thank you very much for his interest in classes and English. It was a great decision to choose Heritage school. I am very grateful to you as his teacher',
          link: ""
        })
      +e.pagination
        .swiper-pagination-nav
          .swiper-pagination-num
          .swiper-pagination.swiper-pagination-feedback
          .swiper-pagination-total
