+b.share-block
  .container
    +e.wrap
      +e.text
        span Понравилась статья, поделитесь ей у себя в соцсетях
      +e.list
        +b.UL.share
          +e.LI.item
            +e.A.item-link.share-fb(href="")
          +e.LI.item
            +e.A.item-link.share-twitter(href="#")
          +e.LI.item
            +e.A.item-link.share-whatsapp(href="")
          +e.LI.item
            +e.A.item-link.share-vk(href="")
          +e.LI.item
            +e.A.item-link.share-telegram(href="")
