+b.SECTION.studying
  .container
    +e.H2.title STUDYING AT HERITAGE INTERNATIONAL SCHOOL
    +e.wrap
      +e.col
        +e.block
          +e.IMG.block-img(src="img/campus/block.jpg", alt="")
          +e.block-info
            +e.block-logo
              img(src="img/footer/01.svg", alt="")
            +e.block-text Heritage International School Sokolniki campus has international Cambridge accreditation.
            +e.A.block-more(href="#") read more

        +e.block
          +e.IMG.block-img(src="img/campus/block.jpg", alt="")
          +e.block-info
            +e.block-logo
              img(src="img/footer/02.svg", alt="")
            +e.block-text Heritage International School is licensed by the Moscow Department of Education.
            +e.A.block-more(href="#") read more

      +e.col
        +e.text
          p Heritage School offers a supportive international environment and world-class education and care for children from 2 years old in Moscow.
          p We offer children more opportunities for their future. Thus we provide British (Cambridge) Curriculum by international teachers and Russian Curriculum.
          p Heritage School graduates get two diplomas — Cambridge and Russian — so they can any university in the world.
        +e.button.btn Read more

