+b.SECTION.studying
  .container
    +e.wrap
      +e.col-info
        +e.block
          //- +e.IMG.block-img(src="img/campus/block.jpg", alt="1")
          +e.block-info
            +e.block-logo
              img(src="img/footer/01.svg", alt="")
            +e.block-text Кампус Сокольники имеет аккредитацию Cambridge Assessment.
            +e.A.block-more.btn(href="#") Читать далее

        +e.block
          //- +e.IMG.block-img(src="img/campus/block.jpg", alt="2")
          +e.block-info
            +e.block-logo
              img(src="img/footer/02.svg", alt="")
            +e.block-text Кампус Сокольники имеет лицензию на преподавание Российской программы
            +e.A.block-more.btn(href="#") Читать далее

      +e.col-text
        +e.text
          p Кампус Сокольники предлагает:
          ul
            li Обучение по двум программам: российская и кембриджская.
            li Иностранные педагоги с опытом работы в международных школах.
            li Большой выбор дополнительных занятий и кружков.
            li Просторные и светлые учебные классы, оборудованные эргономичной мебелью и современными учебно-игровыми материалами.
            li Персональные устройства Apple для каждого ученика Year 1 — Year 9.
            li Спальни для детей от 3 до 5 лет.
            li Пятиразовое сбалансированное питание, приготовленное на собственной кухне по меню от шеф-повара.
            li Медицинский блок, кабинеты логопеда и психолога.
            li Футбольное поле с беговыми дорожками.
            li Закрытая охраняемая территория и круглосуточная система видеонаблюдения.
