+b.SECTION.team
  .container
    +e.H2.title OUR TEAM
    +e.wrap
      .team-slider.swiper-container
        .swiper-wrapper
          +team-card({
            photo : "01.jpg",
            name: "Beverley Sandy",
            position: "Primary Teacher"
          })
          +team-card({
            photo : "02.jpg",
            name: "Beverley Sandy",
            position: "Primary Teacher"
          })
          +team-card({
            photo : "03.jpg",
            name: "Beverley Sandy",
            position: "Primary Teacher"
          })
          +team-card({
            photo : "04.jpg",
            name: "Beverley Sandy",
            position: "Primary Teacher"
          })
          +team-card({
            photo : "05.jpg",
            name: "Beverley Sandy",
            position: "Primary Teacher"
          })
          +team-card({
            photo : "06.jpg",
            name: "Beverley Sandy",
            position: "Primary Teacher"
          })
          +team-card({
            photo : "07.jpg",
            name: "Beverley Sandy",
            position: "Primary Teacher"
          })
          +team-card({
            photo : "08.jpg",
            name: "Beverley Sandy",
            position: "Primary Teacher"
          })
          +team-card({
            photo : "01.jpg",
            name: "Beverley Sandy",
            position: "Primary Teacher"
          })
          +team-card({
            photo : "02.jpg",
            name: "Beverley Sandy",
            position: "Primary Teacher"
          })
          +team-card({
            photo : "03.jpg",
            name: "Beverley Sandy",
            position: "Primary Teacher"
          })
        +e.pagination
          .swiper-pagination-nav
            .swiper-pagination-num
            .swiper-pagination.swiper-pagination-team
            .swiper-pagination-total
