+b.team-campus
  .container
    +e.wrapper
      +e.item
        +e.item-img
          img(src="img/campus/team-01.jpg", alt="")
        +e.item-info
          +e.item-title Senior Leadership Team
          +e.A.item-link.btn(href="#") Читать далее
      +e.item
        +e.item-info
          +e.item-title Academic Team
          +e.A.item-link.btn(href="#") Читать далее
        +e.item-img
          img(src="img/campus/team-02.jpg", alt="")
      +e.item
        +e.item-img
          img(src="img/campus/team-03.jpg", alt="")
        +e.item-info
          +e.item-title Operations Team
          +e.A.item-link.btn(href="#") Читать далее
