+b.SECTION.tuition
  .container
    +e.H2.title TUITION FEES
    +e.wrap
      +tuition-card({
        name : "Pre - Nursery",
        age: "2-3 года",
        cost: "7,800 Евро в год"
      })
      +tuition-card({
        name : "Nursery - Reception",
        age: "3-5 лет",
        cost: "12,800 Евро в год"
      })
      +tuition-card({
        name : "Year 1 - Year 2",
        age: "5-7 лет",
        cost: "14,800 Евро в год"
      })
      +tuition-card({
        name : "Year 3 - Year 6",
        age: "7-10 лет",
        cost: "15,800 Евро в год"
      })
      +tuition-card({
        name : "Year 7 - Year 9",
        age: "10-13 лет",
        cost: "16,800 Евро в год"
      })
      +tuition-card({
        name : "Year 10 - Year 13",
        age: "14-18 лет",
        cost: "17,800 Евро в год"
      })
