+b.SECTION.useful.section
  .container
    h2.section__title Useful information
    +e.wrap
      +useful-card({
        image : "useful/img-01.jpg",
        title: "Mr Matthew has a message for you",
        date: "31. 01. 2020",
        text: "The teachers of the Cambridge program are qualified native English teachers who have passed a special selection and came to us from the UK."
      })
      +useful-card({
        image : "useful/img-02.jpg",
        title: "Mr Matthew has a message for you",
        date: "31. 01. 2020",
        text: "The teachers of the Cambridge program are qualified native English teachers who have passed a special selection and came to us from the UK."
      })
      +useful-card({
        image : "useful/img-03.jpg",
        title: "Mr Matthew has a message for you",
        date: "31. 01. 2020",
        text: "The teachers of the Cambridge program are qualified native English teachers who have passed a special selection and came to us from the UK."
      })
      +useful-card({
        image : "useful/img-04.jpg",
        title: "Mr Matthew has a message for you",
        date: "31. 01. 2020",
        text: "The teachers of the Cambridge program are qualified native English teachers who have passed a special selection and came to us from the UK."
      })
    +e.more
      +e.BUTTON.btn-more(type="button") Read more
