+b.SECTION.welcome-block.section
  .container
    h2.section__title Приветствие от директора школы
  +e.wrapper
    +e.image
      +e.bg(style="background-image: url('img/welcome/bg.jpg')" data-aos="fade-right" data-aos-delay="2200" data-aos-duration="2000")
    +e.content
      .container
        +e.info
          +e.text(data-aos="fade-up" data-aos-delay="1000" data-aos-duration="2000")
            p «Для меня большая честь наблюдать за тем, как дети растут и учатся в нашей потрясающей школе, и я уверен, что каждый наш ученик достигнет успехов в будущем!»
          +e.signature
            img(src="img/campus/signature.png" alt="signature")
          +e.name Matthew Robert Ashton
          +e.founder Head of School
          +e.campus Sokolniki Campus
          a.btn(data-aos="fade-up" data-aos-delay="1500"  data-aos-duration="2000" href="#") Читать далее
