+b.welcome.section
  .container
    +e.H2.title Welcome Message from Head of School
    +e.wrap
      +e.photo
        img(src="img/campus/photo.jpg", alt="")
      +e.info
        +e.info-block
          +e.text
            p Dear children, parents, colleagues and community members!
            p It is a privilege to introduce myself as the inaugural Head of Heritage School; we are at the start of a very exciting journey, and what a year we have ahead of us!

          +e.name Matthew Robert Ashton
          +e.founder Head of School
          +e.campus Sokolniki Campus
          +e.signature
            img(src="img/campus/signature.png")
          +e.A.btn.btn(href="#") читать далее
