+b.founder-content
  .container
    .row
      .col-12
        +e.text
          p Истинное стремление школ Heritage заключается в том, чтобы менять мир через образование. Мы будем прилагать усилия к тому, чтобы школы Heritage задавали стандарт качества в сфере образования.
          p Семьи приходят к нам за советом и за опытом, потому что хотят, чтобы их дети были успешными. Наша миссия – помочь учащимся максимально раскрыть их потенциал, создавая атмосферу и поддерживая стремление детей "исследовать мир, заводить друзей, проявлять заботу и быть активными". Это ключевые составляющие, которые, по нашему убеждению, помогают учащимся сохранять вдохновение, быть счастливыми и успешными. Всё, что мы делаем в Heritage, движимо большим желанием воспитывать молодых людей и помогать им полностью реализовать свой потенциал в качестве граждан мира.
          p Для меня большая честь возглавлять Совет международных школ Heritage, делиться своим энтузиазмом, опытом и искренним желанием оказывать положительное влияние на детей. Я считаю, что моя основная обязанность – поддерживать руководство школы Heritage и преподавательский коллектив, развивая школу и помогая достигать ей поставленных целей, чтобы каждый ученик добивался лучших результатов и стремился к новым вершинам развития и самореализации.
