+b.SECTION.founder.section
  .container
    .row
      .col-12
        +e.H1.title Приветствие от директора школы
  +e.wrapper
    .container
      .row
        .col-12.col-sm-5
          +e.photo
            img(src="img/founder/photo.jpg", alt="")
        .col-12.col-sm-7
          +e.info
            +e.text
              p «Если ребенок не может учиться так, как мы обучаем, мы должны обучать так, как ребенок может учиться. Вот почему для нас так важно объединиться в одну команду, чтобы учиться друг у друга и непрерывно становиться лучше в том, что мы делаем»
            +e.signature
              img(src="img/founder/signature.png" alt="signature")
            +e.name Ильдар Нафиков
            +e.founder основатель и председатель совета директоров
