+b.SECTION.universal-gallery.universal
  .container
    .row
      .col-12.col-sm-7
        +e.image
          img(src="img/gallery-universal/01.jpg", alt="")
      .col-12.col-sm-5
        +e.image
          img(src="img/gallery-universal/02.jpg", alt="")
