+b.universal-menu
  .container
    .row
      .col-12
        +e.UL.list
          +e.LI.list-item
            +e.A.list-link(href="#block-01") Что такое Кембридж?
          +e.LI.list-item
            +e.A.list-link(href="#block-02") Каковы преимущества?
          +e.LI.list-item
            +e.A.list-link(href="#block-03") Что они предлагают?
          +e.LI.list-item
            +e.A.list-link(href="#block-04") Каковы преимущества?
          +e.LI.list-item
            +e.A.list-link(href="#block-05") Что изучают ученики?
          +e.LI.list-item
            +e.A.list-link(href="#block-06") Как поступить в международный детский сад
