+b#block-05.SECTION.universal
  .container
    .row
      .col-12
        +e.H1.title Что изучают ученики?
        +e.text
          p Студенты Кембриджа имеют возможность приобрести знания и навыки, необходимые им в школе, университете и не только.
          p Четыре этапа плавно переходят от начальной школы к средней и довузовской подготовке. Каждый этап — Cambridge Primary, Cambridge Lower Secondary, Cambridge Upper Secondary и Cambridge Advanced — основан на развитии учащихся по сравнению с предыдущим этапом, но также может быть предложен отдельно. Точно так же в каждой программе используется «спиральный» подход, основанный на предыдущем обучении, чтобы помочь студентам продвинуться в учебе. Наша учебная программа отражает новейшие идеи в каждой предметной области, основанные на экспертных международных исследованиях и консультациях со школами. Знания, понимание и навыки мышления высшего порядка: программы Кембриджа сочетают упор на углубленное изучение предметов с развитием навыков для учебы и работы в будущем. Мы ценим глубокие предметные знания, а также концептуальное понимание, которое помогает студентам устанавливать связи между различными аспектами предмета. Мы также поощряем студентов развивать навыки мышления более высокого порядка — решение проблем, критическое мышление, независимые исследования, сотрудничество и представление аргументов. Это передаваемые навыки, которые сохранятся на всю жизнь, подготавливая студентов к их будущей жизни. Они также делают обучение приятным и полезным.
