+b#block-04.SECTION.universal.-line
  .container
    .row
      .col-12
        +e.H2.title Каковы преимущества?
  +e.wrap-bg
    .container
      .row.reverse
        .col-12.col-md-5
          +e.info
            +e.text
              p Возможность выбора и гибкость для школ и учащихся: будучи Кембриджской школой, мы можем адаптировать международную учебную программу Кембриджа к нашей культуре и духу, а также потребностям наших учеников. Когда нашим ученикам исполняется 14 лет, мы можем предложить более 70 предметов в Кембриджском IGCSE и более 55 предметов в Кэмбриджском Международном AS & A Level. Это позволяет нам составить учебную программу, которая предлагает действительно разнообразие выбора — как предмета, так и комбинации предметов.
        .col-12.col-md-7
          +e.image
            img(src="img/universal/image.jpg", alt="")
