+b#block-01.SECTION.universal
  .container
    .row
      .col-12
        +e.H2.title Что такое Кембридж?
        +e.text
          p Что такое Кембридж? Более 150 лет назад Кембриджский университет сформировал «Синдикат местных экзаменов», ныне известный как Cambridge Assessment. Его цель заключалась в повышении стандартов в образовании путём проверки школ и проведения экзаменов для людей, не являющихся членами Университета.
          p Впервые в 1858 году 370 кандидатов из разных школ сдали экзамены Кембриджского университета. Сегодня это число возросло до более миллиона кандидатов в год в 160 странах мира. Cambridge Assessment International Examinations — современная организация, с которой Международная школа Heritage теперь официально связана.
