.universal {
    position: relative;
    margin-bottom: 150px;

    @media (max-width: 991px) {
        margin-bottom: 90px;
    }

    @media (max-width: 768px) {
        margin-bottom: 60px;
    }

    &-bg {
        padding-top: 60px;
        background-color: #ffffff;
    }

    &.first {
        margin-bottom: 90px;

        @media (max-width: 991px) {
            margin-bottom: 70px;
        }

        @media (max-width: 768px) {
            margin-bottom: 40px;
        }

        .universal__title {
            margin-bottom: 0;
        }
    }

    &-menu {
        margin-bottom: 70px;
        transition: all .4s;
        scroll-behavior: smooth;

        @media (max-width: 991px) {
            margin-bottom: 60px;
        }

        &.sticky {
            z-index: 50;
            position: sticky;
            top: 75px;
            padding-top: 25px;
            padding-bottom: 25px;
            background: #e5e5e5;

            @media (max-width: 768px) {
                top: 0;
            }
        }

        &__list {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
            padding: 0;
            text-align: center;
            list-style: none;
            gap: 20px;

            @media (max-width: 1280px) {
                flex-wrap: wrap;
                gap: 15px;
            }

            @media (max-width: 768px) {
                flex-direction: column;
                gap: 5px;
            }

            &-item {
                width: 100%;
                max-width: 210px;

                @media (max-width: 768px) {
                    max-width: 100%;
                }
            }

            &-link {
                font-size: 14px;
                line-height: initial;
                color: $blue;

                &:hover {
                    color: #c49a6c;
                }
            }
        }
    }

    &-title {
        margin-bottom: 40px;
        font-size: 55px;
        font-weight: 400;
        line-height: 1.6;
        text-align: center;
        color: $blue;

        @media (max-width: 1336px) {
            font-size: 42px;
        }

        @media (max-width: 992px) {
            margin-bottom: 35px;
            font-size: 32px;
        }

        @media (max-width: 575px) {
            font-size: 24px;
        }
    }

    &__title {
        margin-bottom: 40px;
        font-size: 40px;
        font-weight: 400;
        line-height: 1.6;
        text-align: center;
        color: $blue;

        @media (max-width: 1336px) {
            font-size: 27px;
        }

        @media (max-width: 992px) {
            margin-bottom: 35px;
            font-size: 18px;
        }
    }

    &__text {
        font-family: "HelveticaNeueCyr", sans-serif;
        font-size: 18px;
        font-weight: 300;
        line-height: 1.6;
        color: #3a3a3a;

        @media (max-width: 991px) {
            font-size: 16px;
        }

        @media (max-width: 768px) {
            font-size: 14px;
        }
    }

    &__image {

        @media (max-width: 768px) {
            margin-top: 35px;
        }
    }

    .reverse {
        flex-direction: row-reverse;
    }

    &.-line {
        position: relative;

        @media (max-width: 768px) {
            display: none;
        }

        &::after {
            z-index: 0;
            position: absolute;
            bottom: -147px;
            left: 50%;
            display: block;
            width: 3px;
            height: 150px;
            background: $twine;
            transform: translateX(-50%);
            content: "";

            @media (max-width: 991px) {
                bottom: -75px;
                width: 2px;
                height: 75px;
            }
        }
    }

    &__wrap {
        z-index: 1;
        position: relative;
        padding-top: 40px;
        padding-bottom: 65px;

        @media (max-width: 991px) {
            padding-top: 40px;
            padding-bottom: 50px;
        }
    }

    &__info {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        flex-direction: column;
    }

    &-page {
        margin-top: 110px;

        @media (max-width: 768px) {
            margin-top: 25px;
        }

        .bottom-block {
            margin-bottom: 150px;

            @media (max-width: 991px) {
                margin-bottom: 90px;
            }

            @media (max-width: 768px) {
                margin-bottom: 60px;
            }
        }
    }

    &-quote {
        position: relative;

        &__title {
            color: #3a3a3a;
        }

        &::after {
            position: absolute;
            top: 50%;
            right: 0;
            width: 250px;
            height: 400px;
            transform: translateY(-50%);
            content: "";
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url('../img/teacher/bg.svg');

            @media (max-width: 991px) {
                width: 160px;
                height: 260px;
            }

            @media (max-width: 768px) {
                width: 120px;
                height: 200px;
            }

            @media (max-width: 690px) {
                display: none;
            }
        }
    }

    &-gallery {
        &__image {
            position: relative;
            height: 464px;
            margin-bottom: 10px;

            @media (max-width: 991px) {
                height: 320px;
            }

            @media (max-width: 600px) {
                height: auto;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;

                @media (max-width: 600px) {
                    width: 100%;
                    height: auto;
                    object-fit: inherit;
                }
            }
        }
    }
}


html {
	scroll-behavior: smooth;
}
